{{#if (await plans) as |resolvedPlans|}}
    <ul class="no-bullet">
    {{#each resolvedPlans as |plan|}}
      <li class="list-item-padded">
        {{#if plan.url}}
          <a href = "{{plan.url}}">{{fa-icon "external-link"}}&nbsp;<strong>{{plan.name}}</strong></a>
        {{else}}
          <strong>{{plan.name}}</strong>
        {{/if}}
        <small class="list--link-meta">Sponsored by {{plan.sponsor}} | Status: {{plan.currentstatus}}</small>
      </li>
    {{/each}}
    </ul>
{{/if}}
  <a class="button small hollow expanded no-margin" href="http://a810-bisweb.nyc.gov/bisweb/bispi00.jsp" target="_blank">DOB Permit Search</a>
{{yield}}
