<ul class="no-bullet">
{{#each (await plans) as |plan|}}
  <li class="list-item-padded">
    {{#if plan.url}}
      <a href = "{{plan.url}}"><FaIcon @icon="external-link-alt" />&nbsp;<strong>{{plan.name}}</strong></a>
    {{else}}
      <strong>{{plan.name}}</strong>
    {{/if}}
    <small class="list--link-meta">Sponsored by {{plan.sponsor}} | Status: {{plan.currentsta}}</small>
  </li>
{{/each}}
</ul>
{{yield}}
