<h4 class="subsection-header"><strong>{{name}}{{#if tip}}{{info-tooltip tip=tip}}{{/if}}</strong></h4>
<div class="callout">
  <div class="grid-x grid-padding-x align-middle">
    <div class="cell small-7 large-4 xlarge-7 text-center">
      <span class="stat">{{numeral-format cd_stat '0.0'}}{{unit}}</span>
      <small class="stat-footer">{{yield}}</small>
    </div>
    <div class="cell small-5 large-3 xlarge-5 text-right large-text-left xlarge-text-right">
      {{#if boro_stat}}<span class="boro-stat label">{{boro}}: <strong>{{boro_stat}}{{unit}}</strong></span>{{/if}}
      {{#if city_stat}}<span class="city-stat label">NYC: <strong>{{city_stat}}{{unit}}</strong></span>{{/if}}
    </div>
    <div class="cell auto">
      {{ranking-chart
        data=sortedData
        ranked=borocd
        column=column
        moe=moe
        unit=unit}}
    </div>
  </div>
</div>
