<h4 class="subsection-header"><strong>{{name}}</strong></h4>
<div class="callout">
  <div class="grid-x grid-padding-x align-middle text-center">
    <div class="cell small-7 large-4 xlarge-7">
      <p>
        <span class="stat">{{numeral-format cd_stat '0.0'}}{{unit}}</span>
        <small class="stat-footer">{{yield}}</small>
      </p>
    </div>
    <div class="cell small-5 large-2 xlarge-5">
      {{#if boro_stat}}<p><small><strong>{{boro}}</strong></small><br />{{boro_stat}}{{unit}}</p>{{/if}}
      {{#if city_stat}}<p><small><strong>NYC</strong></small><br />{{city_stat}}{{unit}}</p>{{/if}}
    </div>
    <div class="cell auto">
      {{ranking-chart
        data=sortedData
        ranked=borocd
        column=column
        unit=unit}}
    </div>
  </div>
</div>
