
{{#with (await projects) as |resolvedProjects|}}
  {{#if resolvedProjects}}
    <h6>Active Applications</h6>
    {{#if resolvedProjects.length}}
    <ul class="no-bullet xlarge-2-column">
    {{#each (await projects) as |application|}}
      <li class="list-item-padded">
        <a href = "https://dcppfsuat.dynamics365portals.us/applicants/overview/application-status-new/project-read/?id={{application.projectid}}" target="_blank">{{fa-icon "external-link"}}&nbsp;<strong>{{application.projectname}}</strong></a>
        <small class="list--link-meta">{{application.type}} | {{application.applicant_customer}}</small>
      </li>
    {{/each}}
    </ul>
    {{else}}
    <p class="text-center" style="padding: 60px 0;">No active applications found.</p>
    {{/if}}
  {{/if}}
  {{else}}
    <div class="spinner-wrapper loading">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
{{/with}}


<a class="button small hollow expanded no-margin" href="https://dcppfsuat.dynamics365portals.us/applicants/overview/application-status-new/" target="_blank"><strong>Search ZAP</strong></a>

{{yield}}
