{{#if (await projects) as |resolvedProjects|}}
  {{#if resolvedProjects}}
    Active Applications
    {{#if resolvedProjects.active.length}}
    <ul class="no-bullet xlarge-2-column">
    {{#each resolvedProjects.active as |project|}}
      <li class="list-item-padded">
        <a href = "http://a030-lucats.nyc.gov/lucats/DirectAccess.aspx?ULURPNO={{project.landUseId}}" target="_blank">{{fa-icon "external-link"}}&nbsp;<strong>{{project.projectName}}</strong></a>
        <small class="list--link-meta">{{project.landUseReceivedDate}} | {{project.location}}</small>
      </li>
    {{/each}}
    </ul>
    {{else}}
    <p class="text-center" style="padding: 60px 0;">No active applications found.</p>
    {{/if}}

    Completed Applications
    {{#if resolvedProjects.completed.length}}
    <ul class="no-bullet xlarge-2-column">
    {{#each resolvedProjects.completed as |project|}}
      <li class="list-item-padded">
        <a href = "http://a030-lucats.nyc.gov/lucats/DirectAccess.aspx?ULURPNO={{project.landUseId}}" target="_blank">{{fa-icon "external-link"}}&nbsp;<strong>{{project.projectName}}</strong></a>
        <small class="list--link-meta">{{project.landUseReceivedDate}} | {{project.location}}</small>
      </li>
    {{/each}}
    </ul>
    {{else}}
    <p class="text-center" style="padding: 60px 0;">No completed applications found.</p>
    {{/if}}

    <a class="button small hollow expanded no-margin" href="http://a030-lucats.nyc.gov/lucats/DirectULURPCD.aspx?Boro={{district.boroAcronym}}&CD={{district.cd}}" target="_blank">View all on LUCATS</a>
  {{/if}}
  {{else}}
  <p class="text-center" style="padding: 60px 0;">No applications found.</p>
  <a class="button small hollow expanded no-margin" href="http://a030-lucats.nyc.gov/lucats/welcome.aspx" target="_blank">Search LUCATS</a>

{{/if}}
{{yield}}
