Showing first 20 land use applications. <a href = "http://a030-lucats.nyc.gov/lucats/DirectULURPCD.aspx?Boro={{district.boroAcronym}}&CD={{district.cd}}">View all on LUCATS</a>
{{#each (await projects) as |project|}}
  <li class="list-item-padded">
    <a href = "http://a030-lucats.nyc.gov/lucats/ULURPRecord.aspx?ULURPOnly={{project.landUseId}}">
      {{project.projectName}} </a> <br/> <span style="font-size: 11px"> {{project.landUseReceivedDate}} | {{project.location}}</span>

  </li>
{{/each}}
{{yield}}
