<h4 class="subsection-header"><strong>Needs Statement Archive</strong></h4>
<div class="callout">
  <div class="list-scroll-medium">
    <ul class="no-bullet">
      {{#each (await truncatedYears) as |year|}}
        <li class="list-item-padded"><a href="{{downloadPath}}/{{year.path}}">{{fa-icon "file-pdf-o"}}&nbsp;&nbsp;{{year.name}}</a></li>
      {{/each}}
    </ul>
  </div>
  <button class="button small hollow expanded" onclick={{action 'toggleList'}}>{{if showAll 'Show Less' 'Show All'}}</button>
</div>
{{yield}}
