<div class="needs-statements">
  <h6>Needs Statement Archive:</h6>
  <ul class="no-bullet">
    {{#each (await truncatedYears) as |year|}}
      <li class="list-item-padded"><a href="{{downloadPath}}/{{year.path}}"><FaIcon @icon="file-pdf" />&nbsp;<strong>{{year.name}}</strong></a></li>
    {{/each}}
  </ul>
  {{#unless showAll}}
    <button class="button small hollow no-margin" onclick={{action 'toggleList'}}><strong>Show All Needs Statements</strong></button>
  {{/unless}}
    <a href="https://docs.google.com/viewer?url=https://github.com/NYCPlanning/labs-cd-needs-statements/raw/master//Community_District_Needs_Glossary.pdf" target="_blank">
      <button class="button small hollow no-margin"><FaIcon @icon="file-pdf" />&nbsp;<strong>Glossary</strong></button>
    </a>
</div>
{{yield}}
