
{{#with (await projects) as |resolvedProjects|}}
  {{#if resolvedProjects}}

    <h6>Filed Applications</h6>
    {{#if resolvedProjects.filed.length}}
      <ul class="no-bullet xlarge-2-column">
        {{#each resolvedProjects.filed as |project|}}
          <li class="list-item-padded">
            <a href = "https://zap.planning.nyc.gov/projects/{{project.dcp_name}}" target="_blank">{{fa-icon "external-link"}}&nbsp;<strong>{{if project.dcp_projectname project.dcp_projectname "No Name"}}</strong></a>
            <small class="list--link-meta">{{project.applicant}} | {{project.dcp_ulurp_nonulurp}}</small>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p class="text-center" style="padding: 60px 0;">No filed applications.</p>
    {{/if}}

    <h6>Applications In Public Review</h6>
    {{#if resolvedProjects.inPublicReview.length}}
      <ul class="no-bullet xlarge-2-column">
        {{#each resolvedProjects.inPublicReview as |project|}}
          <li class="list-item-padded">
            <a href = "https://zap.planning.nyc.gov/projects/{{project.dcp_name}}" target="_blank">{{fa-icon "external-link"}}&nbsp;<strong>{{if project.dcp_projectname project.dcp_projectname "No Name"}}</strong></a>
            <small class="list--link-meta">{{project.applicant}} | {{project.dcp_ulurp_nonulurp}}</small>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p class="text-center" style="padding: 60px 0;">No applications in public review.</p>
    {{/if}}

  {{/if}}
  {{else}}
    <div class="spinner-wrapper loading">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
{{/with}}


<a class="button small hollow expanded no-margin" href="https://zap.planning.nyc.gov" target="_blank"><strong>Search ZAP</strong></a>

{{yield}}
