<div class="grid-x grid-padding-x">
  <div class="cell">
    <h1>About the Community District Profiles</h1>

    <p class="lead">New York City’s 59 community boards were created by local law in 1975, and each represents a community district. These districts range in population from 50,000 to over 200,000, and reflect the City’s diversity. The Department of City Planning’s Community District Profiles organize a wide variety of data, maps, and other content to present an accessible and informative view of the built environment, key socio-economic conditions, community board perspectives, and planning activities in each district. This information empowers residents, community board members, planners, and other stakeholders to engage in city planning and advocate for their communities.</p>

    <hr>

    <h2>What's included in each profile?</h2>



    <h3 class="relative"><a id="indicators" class="offset-anchor about"></a>{{fa-icon "bar-chart"}} Indicators</h3>

    <div class="grid-x grid-padding-x">
      <div class="cell xlarge-7">

        <p>Indicators were carefully selected to present a snapshot across a broad range of conditions related to city planning. The [i] icon reveals an indicator’s source.  Most indicators rely on data from the American Community Survey (ACS) or Decennial Census. Community districts are NYC-specific geographic bounds, so the Census Bureau does not report data at the community district level.  Instead, we need to compute community district estimates by approximating them from smaller census geographies.  To do this, we aggregate data from blocks and block-groups based on a geographic lookup relating each census block and tract to the community district it falls within. Using this lookup, we aggregate count data, then recompute rate estimates and margins of error. This methodology is used to compute the intercensal total number of persons within a community district, which serves as the denominator for some non-ACS rate indicators (such as “crimes per 1000”).</p>

      </div>
      <div class="cell xlarge-5">

      <p class="text-small">Beyond these profiles, a wealth of data, maps, and reports are available on the <a href="http://www1.nyc.gov/site/planning/data-maps/nyc-population.page" target="_blank">Department of City Planning website</a>.</p>

        <p class="text-small"><a href="http://www1.nyc.gov/assets/planning/download/pdf/data-maps/nyc-population/acs/about-the-acs.pdf" target="_blank">Read more about the ACS and its geographies in New York City.</a></p>

        <p class="text-small"><a href="http://www1.nyc.gov/assets/planning/download/pdf/data-maps/nyc-population/acs/how-to-use-the-acs.pdf" target="_blank">Read more about understanding ACS data.</a></p>

        <p class="text-small">Download the indicators for each district in a CSV table under the "Resources" section at the bottom of the page.</p>

      </div>
    </div>

    <h3 class="relative"><a id="built-environment" class="offset-anchor about"></a>{{fa-icon "building"}} The Built Environment</h3>

    <div class="grid-x grid-padding-x">
      <div class="cell xlarge-7">

        <p>This section offers a survey of the land uses that currently exist in each district, the zoning that will guide its development, and the public facilities that serve its residents. These are district-specific presentations of data from other City Planning resources. To find out more about land use and zoning in New York City, visit <a href="http://maps.nyc.gov/doitt/nycitymap/template?applicationName=ZOLA" target="_blank">ZoLa</a> or <a href="https://www1.nyc.gov/site/planning/data-maps/open-data.page" target="_blank">download the full Primary Land Use Tax Lot Output (PLUTO) and MapPLUTO datasets</a>. For more detailed information on New York City’s public facilities, visit <a href="https://capitalplanning.nyc.gov/facilities" target="_blank">the NYC Facilities Explorer</a>.</p>

      </div>
      <div class="cell xlarge-5">

        <p class="text-small">Under the "Resources" section, each district's land use and zoning data may be downloaded as a shapefile. In addition, a shapefile of the district’s public facilities may also be found.</p>

      </div>
    </div>

    <h3 class="relative"><a id="floodplain" class="offset-anchor about"></a>{{fa-icon "tint"}} Floodplain</h3>

    <div class="grid-x grid-padding-x">
      <div class="cell xlarge-7">

    <p>This section provides details regarding the people and built environment in NYC’s floodplain as it exists today and as it is estimated to increase in the future with climate change. With 520 miles of waterfront, New York City has a high risk of flooding. Despite this risk, it is possible to adapt buildings and infrastructure to be more resilient&mdash;or able to withstand and recover from floods with minimal damage and disruption. This information helps the City and community members better understand a neighborhood’s risk and key characteristics that influence its ability to adapt.</p>

    <p><strong>Age of Buildings in Floodplain</strong></p>
    <p>The building counts in this section are grouped based on important dates in the history of NYC’s land-use and floodplain regulation. 1961 marked the establishment of the city’s current zoning resolution, 1983 marked the adoption of Flood Insurance Rate Maps for the first time, and 2013 included the creation of revised Flood Insurance Rate Maps and the adoption of special zoning regulations for flood hazard areas.</p>

    <p><strong>Basements in Floodplain</strong></p>
    <p>These counts detail the number of buildings known to have basements in the floodplain, as well as those with an unknown basement status, based on the best available public records. Basements are among the most flood vulnerable areas of a building, so it is important to understand where they exist and what uses or mechanical systems they may contain.</p>

    <p><strong>Building Proximity</strong></p>
    <p>This section counts buildings in the floodplain based on their proximity to other buildings. Building proximity refers to whether a building is attached or detached from adjacent buildings. It is important to consider building proximity in relationship to the floodplain because certain building proximity types are more easily retrofitted or elevated than others. For example, a detached structure is generally less complicated and costly to elevate than a semi-detached or attached building.</p>

      </div>
      <div class="cell xlarge-5">

        <p class="text-small">For more information on City Planning’s resiliency work program, visit <a href="http://www1.nyc.gov/site/planning/plans/climate-resiliency/climate-resiliency.page" target="_blank">Resilient Neighborhoods</a>.</p>

        <p class="text-small">For more information on flood hazards in New York City, visit the <a href="http://dcp.maps.arcgis.com/apps/webappviewer/index.html?id=1c37d271fba14163bbb520517153d6d5" target="_blank">NYC Flood Hazard Mapper</a>.</p>

      </div>
    </div>

    <h3 class="relative"><a id="community-board" class="offset-anchor about"></a>{{fa-icon "group"}} Community Board Perspectives</h3>

    <p>Each community board is charged with advocating for the unique priorities of its district in collaboration with city agencies. Among their many responsibilities, community boards prepare an annual Statement of Community District Needs and Community Board Budget Requests, which aim to assess the district’s most pressing needs and prioritize capital project and service expenses in the City’s budget. City Planning provides support in the preparation of these documents; each district’s profile includes the most recent of these statements and up to ten years prior. A full archive will be available online soon. To request a statement that is not currently available through these profiles, contact <a href="mailto:portal_dl@planning.nyc.gov">portal_dl@planning.nyc.gov</a>.</p>

    <h3 class="relative"><a id="projects" class="offset-anchor about"></a>{{fa-icon "calendar"}} Projects</h3>

    <p>This section presents a summary of the Department of City Planning’s activities in each district. In Recent Land Use Applications, you will find a live look at active land use and environmental review applications in each district from our Zoning Applicat Portal (ZAP). To perform detailed queries of these applications and find help interpreting ZAP records, <a href="https://nycdcppfs.dynamics365portals.us/applicants/overview/application-status-new/" target="_blank">visit the Zoning Applicant Portal</a>.</p>

    <p>The Neighborhood Studies window links to background information on all of the ongoing and recently completed plans and studies that City Planning is conducting in each district. Some districts have no relevant current or recent studies, but <a href="http://www1.nyc.gov/site/planning/plans/proposals-studies.page" target="_blank">visit our website</a> to learn about plans and studies happening across the City, including archives going back decades.</p>

    <h3 class="relative"><a id="resources" class="offset-anchor about"></a>{{fa-icon "files-o"}} Resources</h3>

    <div class="grid-x grid-padding-x">
      <div class="cell xlarge-7">

        <p>This section provides helpful planning resources such as reference maps, additional Census data, and links to other community profiles. A one-page summary version of each district’s profile is available as a PDF. The data referenced in these interactive profiles are available for download.</p>

      </div>
      <div class="cell xlarge-5">

        <p class="text-small">For more land use, zoning, and other GIS data, visit <a href="http://www1.nyc.gov/site/planning/data-maps/open-data.page" target="_blank">City Planning’s Open Data page</a>.</p>

      </div>
    </div>

    <hr>

    <h2>How was this website made?</h2>

    <p>The Community District Profiles website was built using <a href="https://en.wikipedia.org/wiki/Open-source_software" target="_blank">free and open source software</a> by <a href="https://planninglabs.nyc" target="_blank">NYC Planning Labs</a> working closely with DCP's Planning Coordination Division. It’s a single-page application (SPA) built using the <a href="https://www.emberjs.com/" target="_blank">Ember</a> JavaScript framework. The frontend application consumes a variety of APIs that serve map tiles, data, and content.</p>

    <p>We make use of the <a href="http://foundation.zurb.com/" target="_blank">Foundation for Sites</a> framework for layout and styling. Web maps on the profiles are built using <a href="https://www.mapbox.com/mapbox-gl-js/api/" target="_blank">Mapbox GL</a>, creating smooth-scaling vector-based maps with intricate control of styling. Interactive charts are built using <a href="https://d3js.org/" target="_blank">D3.js</a>.</p>

    <p>The <a href="https://github.com/nycplanning/labs-community-portal/" target="_blank">project repository</a> is on GitHub, where we encourage users to report bugs and feature requests by <a href="https://github.com/nycplanning/labs-community-portal/issues" target="_blank">creating new issues</a>.</p>

  </div>
</div>

{{outlet}}
