<a class="show-on-focus" href="#main">Skip to main content</a>
{{header-toggle}}

<div id="main" class="grid-x">
  <div class="cell large-4 xlarge-3" id="cd-chooser">
    {{#mapbox-gl id='map' initOptions=(hash style='https://layers-api.planninglabs.nyc/v1/base/style.json' zoom=zoom center=(array lng lat)) mapLoaded=(action 'handleMapLoad') as |map|}}

      {{#map.source sourceId='cds' source=cdSource as |source|}}
        {{source.layer layer=cdFillLayer before='highway_name_other'}}
        {{source.layer layer=cdLineLayer before='highway_name_other'}}
      {{/map.source}}

      {{#map.source sourceId='cdLabel' source=cdLabelSource as |source|}}
        {{source.layer layer=cdLabelLayer before='highway_name_other'}}
        {{source.layer layer=cdBoroLabelLayer before='highway_name_other'}}
      {{/map.source}}

      {{#if mapState.currentlyHovered}}
        {{#map.source sourceId='cd-hovered' source=cdHoveredSource as |source|}}
          {{source.layer layer=cdHoveredLayer before='highway_name_other'}}
        {{/map.source}}
      {{/if}}

      {{map.call 'fitBounds' mapState.bounds}}
      {{map.on 'click' (action 'handleClick')}}
      {{map.on 'mousemove' (action 'handleMousemove')}}
      {{map.on 'mouseout' (action 'handleMouseout')}}
      {{#if mapState.currentlySelected}}
        {{#map.source sourceId='currentlySelected' source=cdSelectedSource as |source|}}
          {{source.layer layer=cdSelectedLayer before='highway_name_other'}}
        {{/map.source}}
      {{/if}}

      {{#if mapState.currentAddress}}
        {{#map.source sourceId='currentAddress' source=cdCurrentAddressSource as |source|}}
          {{source.layer layer=cdPointLayer before='highway_name_other'}}
        {{/map.source}}
      {{/if}}
    {{/mapbox-gl}}
    <div id="cd-search" class="hide-for-print">
      {{navigation-dropdown
          model=model
          selected=mapState.currentlySelected
          onchange=(route-action 'transitionToProfile')}}
    </div>
  </div>
  <div class="cell large-auto" id="page-content">
    {{outlet}}

    <footer class="site-footer text-center">
      <p>
        <strong style="display:block;margin-bottom:0.5rem;">Have questions about this app? Feature suggestions? <br> <a href="mailto:PORTAL_DL@planning.nyc.gov"><FaIcon @icon="envelope" />&nbsp;Send us an email</a> or <a href="https://github.com/NYCPlanning/labs-community-portal/issues"><FaIcon @icon="github" @prefix="fab"/>&nbsp;add a GitHub issue</a></strong>
      </p>
      <p>
        <strong style="display:block;margin-bottom:0.5rem;">For other questions, view <a href="https://www.nyc.gov/content/planning/pages/about-us/contact-us">NYC Planning's contact page</a></strong>
      </p>
    </footer>

  </div>
</div>

{{!--
  Display a site-wide nothification with the site-message component:
  @message - string: conditionally displays component
  @warning - boolean: adds an exclamation-triangle icon
  @dismissible - boolean: allows user to close message
--}}
{{site-message}}
