<a class="show-on-focus" href="#main">Skip to main content</a>
{{header-toggle}}

<div id="main" class="grid-x">
  <div class="cell large-4 xlarge-3" id="cd-chooser">
    {{#mapbox-gl id='map' initOptions=(hash style='mapbox://styles/mapbox/light-v9' zoom=zoom center=(array lng lat)) mapLoaded=(action 'handleMapLoad') as |map|}}
      {{#map.source sourceId='cds' source=cdSource as |source|}}
        {{source.layer layer=cdFillLayer}}
        {{source.layer layer=cdLineLayer}}
        {{source.layer layer=cdLabelLayer}}
      {{/map.source}}
      {{map.call 'fitBounds' mapState.bounds}}
      {{map.on 'click' (action 'handleClick')}}
      {{map.on 'mousemove' (action 'handleMouseover')}}
      {{map.on 'mouseout' (action 'handleMouseleave')}}
      {{#if mapState.currentlySelected}}
        {{#map.source sourceId='currentlySelected' source=cdSelectedSource as |source|}}
          {{source.layer layer=cdSelectedLayer}}
        {{/map.source}}
      {{/if}}

      {{#if mapState.currentAddress}}
        {{#map.source sourceId='currentAddress' source=cdCurrentAddressSource as |source|}}
          {{source.layer layer=cdPointLayer}}
        {{/map.source}}
{{!--         {{#map.source sourceId='currentlySelected' source=cdSelectedSource as |source|}}
          {{source.layer layer=cdSelectedLayer}}
        {{/map.source}} --}}
      {{/if}}
    {{/mapbox-gl}}
    <div id="cd-search" class="hide-for-print">
      {{navigation-dropdown 
          model=model
          selected=mapState.currentlySelected
          onchange=(route-action 'transitionToProfile')}}
    </div>
  </div>
  <div class="cell large-auto" id="page-content">
    {{outlet}}

    <footer class="site-footer text-center">
      <p>Don't see the data you need? <a href="https://github.com/NYCPlanning/labs-community-portal/issues">File an issue</a> to let us know.</p>
    </footer>

  </div>
</div>
