<div class="ui menu">
  <div class="item">
    {{link-to 'Home' 'index'}}
  </div>
  <div class="right menu">
    <div class="item">
      {{#power-select
        options=options
        selected=selected
        searchField="name"
        onchange=(route-action 'transitionToProfile')
        as |district|
      }}
        {{district.name}}
      {{/power-select}}
    </div>
  </div>
</div>
{{#leaflet-map bounds=mapState.bounds}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  {{#geojson-layer geoJSON=model style=style onClick=(action "handleClick") onMouseover=(action "handleMouseover")}}
    {{#tooltip-layer}}
      <p>{{tooltip-text}}</p>
    {{/tooltip-layer}}
  {{/geojson-layer}}
{{/leaflet-map}}
{{outlet}}
