<a class="show-on-focus" href="#main">Skip to main content</a>
{{header-toggle}}

<div id="main" class="grid-x">
  <div class="cell large-4 xlarge-3" id="cd-chooser">
    {{#mapbox-gl id='map' initOptions=(hash style='mapbox://styles/mapbox/light-v9' zoom=zoom center=(array lng lat)) mapLoaded=(action 'handleMapLoad') as |map|}}
      {{#map.source sourceId='cds' source=cdSource as |source|}}
        {{source.layer layer=cdFillLayer}}
        {{source.layer layer=cdLineLayer}}
        {{source.layer layer=cdLabelLayer}}
      {{/map.source}}
      {{map.call 'fitBounds' mapState.bounds}}
      {{map.on 'click' (action 'handleClick')}}
      {{map.on 'mousemove' (action 'handleMouseover')}}
      {{map.on 'mouseout' (action 'handleMouseleave')}}
      {{#if mapState.currentlySelected}}
        {{#map.source sourceId='currentlySelected' source=cdSelectedSource as |source|}}
          {{source.layer layer=cdSelectedLayer}}
        {{/map.source}}
      {{/if}}
    {{/mapbox-gl}}
    <div id="cd-search" class="hide-for-print">
      {{#power-select
        options=model
        selected=mapState.currentlySelected
        searchField="name"
        placeholder="District or Neighborhood..."
        onchange=(route-action 'transitionToProfile')
        as |district|
      }}
        <strong class="district">{{district.boro}} {{district.cd}}</strong> <small class="neighborhoods">{{district.neighborhoods}}</small>
      {{/power-select}}
    </div>
  </div>
  <div class="cell large-auto" id="page-content">

    {{outlet}}

    <footer class="site-footer text-center">
      <p>
        <strong style="display:block;margin-bottom:0.5rem;">Don't see the data you need?</strong>
        <a class="button small" href="https://github.com/NYCPlanning/labs-community-portal/issues">{{fa-icon "github"}}&nbsp;Add a GitHub Issue</a>
        <a class="button small" href="mailto:PORTAL_DL@planning.nyc.gov">{{fa-icon "envelope"}}&nbsp;Send Us an Email</a>
      </p>
    </footer>

  </div>
</div>
