<div class="grid-x grid-padding-x">
  <div class="cell">

    <div class="district-header">
      <h1>{{model.boro}} Community District {{model.cd}}</h1>
      <div class="section-menu hide-for-print">
        <ul class="menu">
          <li>{{scroll-to offset=-210 href='#indicators' label='Indicators' afterScroll='handleAfterScroll'}}</li>
          <li>{{scroll-to offset=-210 href='#built-environment' label='Built Environment' afterScroll='handleAfterScroll'}}</li>
          <li>{{scroll-to offset=-210 href='#resiliency' label='Resiliency' afterScroll='handleAfterScroll'}}</li>
          <li>{{scroll-to offset=-210 href='#community-board' label='Community Board' afterScroll='handleAfterScroll'}}</li>
          <li>{{scroll-to offset=-210 href='#projects' label='Projects' afterScroll='handleAfterScroll'}}</li>
          <li>{{scroll-to offset=-210 href='#resources' label='Resources' afterScroll='handleAfterScroll'}}</li>
        </ul>
      </div>
    </div>

    <div class="district-content">
      <div class="neighborhoods-list">
        {{model.neighborhoods}}
      </div>

      <section id="indicators" class="page-section">
        <h3 class="section-header">
          {{#scroll-to offset=-210 href='#indicators' afterScroll='handleAfterScroll'}}
            {{fa-icon "bar-chart"}} Indicators {{fa-icon "link"}}
          {{/scroll-to}}
        </h3>

        <div class="grid-x grid-padding-x align-bottom">
          <div class="cell medium-8 xlarge-9">
            <p class="section-header-description">The data below provides a snapshot of key economic, demographic, social, land area public service indicators. To provide further context, the selected district is displayed in comparison to all 59 community districts; where available, Borough and City averages are provided. The entire set of indicators may be downloaded in the Resources section below.</p>
          </div>
          <div class="cell medium-4 xlarge-3 medium-text-right">
            <span class="chart-legend">
              <span class="estimate"></span>&nbsp;Estimate
              &nbsp;
              <span class="moe"></span>&nbsp;Margin of Error
            </span>
          </div>
        </div>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-8 large-12 xlarge-7">

            <h4 class="subsection-header"><strong>Population</strong></h4>
            <div class="callout">
              <div class="grid-x grid-margin-x align-middle">
                <div class="cell small-6 large-4 text-center">
                  <span class="stat">{{numeral-format d.pop_2000 '0.0a'}}</span>
                  <span class="stat-footer">2000 Census</span>
                </div>
                <div class="cell small-6 large-4 text-center">
                  <span class="stat">{{numeral-format d.pop_2010 '0.0a'}}</span>
                  <span class="stat-footer">2010 Census <small class="dark-gray">({{numeral-format d.pop_change_00_10 '+0%'}})</small></span>
                </div>
                <div class="cell small-12 large-4 text-center cell-divider--population">
                  <span class="lead">
                    {{#if d.shared_puma}}
                      N/A
                    {{else}}
                      {{numeral-format d.pop_11_15_acs '0.0a'}}
                    {{/if}}
                  </span>
                  <small class="stat-footer">2011-2015 Estimate {{info-tooltip tip="American Community Survey 5-year Estimates"}}</small>
                </div>
              </div>
            </div>

          </div>
          <div class="cell medium-4 large-12 xlarge-5">

            <h4 class="subsection-header"><strong>Land Mass</strong></h4>
            <div class="callout">
              <div class="grid-x grid-padding-x align-middle">
                <div class="cell small-6 medium-12 large-6 text-center">
                  <span class="stat">{{numeral-format d.area_sqmi '0.0'}}</span>
                  <span class="stat-footer">Square Miles</span>
                </div>
                <div class="cell small-6 medium-12 large-6 text-center">
                  <span class="stat">{{numeral-format d.acres '0,0'}}</span>
                  <span class="stat-footer">Acres</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h4 class="subsection-header"><strong>Racial Breakdown</strong></h4>
        <div class="callout">
          {{horizontal-bar data=racialProfile height=150}}
        </div>

        {{#key-indicators class="key-indicators"
                          indicators=columns
                          boro=model.boro
                          cd=model.cd
                          borocd=d.borocd as |data|}}
          {{#data.indicator class="indicator" name='Age 18 & Under'
                            column='under18_rate'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.under18_rate
                            boro_stat=d.under18_rate_boro
                            city_stat=d.under18_rate_nyc}}
            of residents are under the age&nbsp;of&nbsp;18
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Age 65 & Over'
                            column='over65_rate'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.over65_rate
                            boro_stat=d.over65_rate_boro
                            city_stat=d.over65_rate_nyc}}
            of residents are over the age&nbsp;of&nbsp;65
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Rent Burden'
                            column='pct_hh_rent_burd'
                            moe='moe_hh_rent_burd'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.pct_hh_rent_burd
                            boro_stat=d.pct_hh_rent_burd_boro
                            city_stat=d.pct_hh_rent_burd_nyc}}
            of households spend 35% or more of their income on&nbsp;rent
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Access to Parks'
                            column='pct_served_parks'
                            unit='%'
                            tip='New York City Department of Parks & Recreation, 2016. DPR considers walking distance to be 1/4 mile for parks less than 6 acres, and 1/2 mile for larger parks and pools.'
                            cd_stat=d.pct_served_parks}}
            of residents live within <a href="https://www.nycgovparks.org/planning-and-building/planning/walk-to-a-park" target="_blank">walking distance of a park or open space</a>
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Mean Commute to Work'
                            column='mean_commute'
                            moe='moe_mean_commute'
                            tip=d.acs_tooltip
                            cd_stat=d.mean_commute
                            boro_stat=d.mean_commute_boro
                            city_stat=d.mean_commute_nyc}}
            minutes
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Street Cleanliness'
                            column='pct_clean_strts'
                            unit='%'
                            tip='New York City Department of Sanitation, 2017'
                            cd_stat=d.pct_clean_strts
                            boro_stat=d.pct_clean_strts_boro
                            city_stat=d.pct_clean_strts_nyc}}
            of streets rated "acceptable" on the <a href="https://www1.nyc.gov/site/operations/performance/scorecard-street-sidewalk-cleanliness-ratings.page" target="_blank">Street Cleanliness Scorecard</a> in FY&nbsp;2016
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Crime'
                            column='crime_count'
                            tip='NYPD Complaint Data, 2016'
                            cd_stat=d.crime_count
                            numeral_format=0
                            boro_stat=d.crime_count_boro
                            city_stat=d.crime_count_nyc}}
            <a href="https://maps.nyc.gov/crime/" target="_blank">major crimes</a> were reported in&nbsp;2016
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Educational Attainment'
                            column='pct_bach_deg'
                            moe='moe_bach_deg'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.pct_bach_deg
                            boro_stat=d.pct_bach_deg_boro
                            city_stat=d.pct_bach_deg_nyc}}
            of residents 25 years or older have earned a bachelor's degree or&nbsp;higher
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Limited English Proficiency'
                            column='lep_rate'
                            moe='moe_lep_rate'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.lep_rate
                            boro_stat=d.lep_rate_boro
                            city_stat=d.lep_rate_nyc}}
            of residents self-identify as having limited English&nbsp;proficiency
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Unemployment'
                            column='unemployment_cd'
                            moe='moe_unemployment_cd'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.unemployment_cd
                            boro_stat=d.unemployment_boro
                            city_stat=d.unemployment_nyc}}
            of the civilian labor force is unemployed
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Poverty'
                            column='poverty_rate'
                            moe='moe_poverty_rate'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.poverty_rate
                            boro_stat=d.poverty_rate_boro
                            city_stat=d.poverty_rate_nyc}}
            of residents have incomes below the poverty&nbsp;level
          {{/data.indicator}}
        {{/key-indicators}}

      </section>

      <section id="built-environment" class="page-section">
        <h3 class="section-header">
          {{#scroll-to offset=-210 href='#built-environment' afterScroll='handleAfterScroll'}}
            {{fa-icon "building"}} Built Environment {{fa-icon "link"}}
          {{/scroll-to}}
        </h3>
        <p class="section-header-description">The maps below provide detailed information regarding the zoning, land use, and selected facilities within the district. Each plot of land within the City’s jurisdiction has a <a href="http://www1.nyc.gov/site/planning/zoning/districts-tools.page" target="_blank">zoning designation</a> &mdash; <a href="http://www1.nyc.gov/site/planning/zoning/districts-tools/residence-districts-r1-r10.page" target="_blank">residence</a>, <a href="http://www1.nyc.gov/site/planning/zoning/districts-tools/commercial-districts-c1-c8.page" target="_blank">commercial</a>, or <a href="http://www1.nyc.gov/site/planning/zoning/districts-tools/mfg-districts.page" target="_blank">manufacturing</a> &mdash; to establish relevant parameters for building and land use. DCP aggregates information about facilities and program sites that are owned, operated, funded, licensed or certified by a City, State, or Federal agency in the City of New York into a central database called the City Planning Facilities Database.</p>

        <h4 class="subsection-header"><strong>Land Use</strong></h4>
        <div class="callout">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-6">
              {{land-use-map}}
            </div>
            <div class="cell medium-6">
              {{land-use-chart borocd=model.borocd}}
            </div>
          </div>
        </div>

        <h4 class="subsection-header"><strong>Zoning</strong></h4>
        <div class="callout">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-6">
              {{zoning-map borocd=model.borocd}}
            </div>
            <div class="cell medium-6">
              {{zoning-chart borocd=model.borocd}}
            </div>
          </div>
        </div>

        <h4 class="subsection-header"><strong>Community Assets</strong></h4>
        <div class="grid-x grid-padding-x">
          <div class="cell medium-3 large-6 xlarge-3">
            <div class="callout text-center">
              <span class="stat"><span class="dark-gray">{{fa-icon "graduation-cap"}}</span>&nbsp;{{d.count_public_schools}}</span><br>
              Public Schools {{info-tooltip tip='Public elementary, middle, high, and special education schools. Public schools identified may serve multiple Community Districts'}}
            </div>
          </div>
          <div class="cell medium-3 large-6 xlarge-3">
            <div class="callout text-center">
              <span class="stat"><span class="dark-gray">{{fa-icon "book"}}</span>&nbsp;{{d.count_libraries}}</span><br>
              Public Libraries {{info-tooltip tip='Libraries operated by NYPL, QPL, BPL and academic institutions'}}
            </div>
          </div>
          <div class="cell medium-3 large-6 xlarge-3">
            <div class="callout text-center">
              <span class="stat"><span class="dark-gray">{{fa-icon "hospital-o"}}</span>&nbsp;{{d.count_hosp_clinic}}</span><br>
              Hospitals and Clinics {{info-tooltip tip='Urgent care hospitals, diagnostic and treatment centers, and school-based health facilities'}}
            </div>
          </div>
          <div class="cell medium-3 large-6 xlarge-3">
            <div class="callout text-center">
              <span class="stat"><span class="dark-gray">{{fa-icon "tree"}}</span>&nbsp;{{d.count_parks}}</span><br>
              Parks {{info-tooltip tip='Properties operated by NYC Parks, NYC DOT, NYS Office of Parks, Recreation and Historic Preservation, NYS Dept. of Conservation, and City-State corporations and trusts'}}
            </div>
          </div>
        </div>

        <h4 class="subsection-header"><strong>Facilities</strong></h4>
        <div class="callout">
          {{facilities-section borocd=model.borocd}}
        </div>
      </section>

      <section id="resiliency" class="page-section">
        <h3 class="section-header">
          {{#scroll-to offset=-210 href='#resiliency' afterScroll='handleAfterScroll'}}
            {{fa-icon "tint"}} Waterfront Resiliency {{fa-icon "link"}}
          {{/scroll-to}}
        </h3>
        <p class="section-header-description">The information below details the people and built environment within NYC’s floodplain, showing the risk and key characteristics that influence the ability of a neighborhood to adapt. The current floodplain based on FEMA 2015 Preliminary Flood Insurance Rate Maps (PFIRM). The 2050s floodplain is based on FEMA’s Preliminary Flood Insurance Rate Map data and the New York Panel on Climate Change’s 90th Percentile Projections for Sea-Level Rise. For more information on flood hazards and City Planning’s resiliency work program, please visit the <a href = "http://dcp.maps.arcgis.com/apps/webappviewer/index.html?id=1c37d271fba14163bbb520517153d6d5">NYC Flood Hazard Mapper</a> and <a href="https://nyc.gov/resilientneighborhoods">nyc.gov/resilientneighborhoods</a>.</p>

        <div class="grid-x grid-padding-x">
          <div class="cell xlarge-6">
            <h4 class="subsection-header"><strong>Floodplain</strong></h4>
            <div class="callout">
              {{waterfront-map}}
            </div>
          </div>
          <div class="cell xlarge-6">
            <h4 class="subsection-header"><strong>Population in Floodplain</strong></h4>
            <div class="callout">
              <div class="grid-x grid-margin-x align-middle">
                <div class="cell small-6 text-center">
                  <span class="stat">{{numeral-format d.current_fp_pop '0.0a'}}</span>
                  <span class="stat-footer">Current Floodplain<br /><small class="dark-gray">2010 Census</small></span>
                </div>
                <div class="cell small-6 text-center">
                  <span class="stat">{{numeral-format d.future_fp_pop '0.0a'}}</span>
                  <span class="stat-footer">2050s Floodplain<br /><small class="dark-gray">2010 Census</small></span>
                </div>
              </div>
            </div>

            <h4 class="subsection-header"><strong>Land Mass in Floodplain</strong></h4>
            <div class="callout">
              <div class="grid-x grid-margin-x align-middle">
                <div class="cell small-6 text-center">
                  <span class="stat">{{numeral-format d.current_fp_area '0.000'}}</span>
                  <span class="stat-footer">Square Miles in Current Floodplain</span>
                </div>
                <div class="cell small-6 text-center">
                  <span class="stat">{{numeral-format d.future_fp_area '0.000'}}</span>
                  <span class="stat-footer">Square Miles in 2050s Floodplain</span>
                </div>
              </div>
            </div>
          </div>
          <div class="cell large-4">
            <h4 class="subsection-header"><strong>Buildings in Floodplain {{info-tooltip tip="Counts of buildings on lots that intersect with the 2015 PFIRM"}}</strong></h4>
            <div class="callout">
              {{building-type-chart property='numbldgs' borocd=model.borocd}}
              <hr>
              <div class="text-center">
                <span class="chart-legend">
                  <span class="total"></span>&nbsp;Total Buildings
                  &nbsp;
                  <span class="percent"></span>&nbsp;Buildings in Floodplain
                </span>
              </div>
              {{ranking-chart-plus
                  column='cd_tot_bldgs'
                  overlayColumn='current_fp_bldg'
                  numeral_format='0,0'
                  borocd=model.borocd}}
            </div>
          </div>
          <div class="cell large-4">
            <h4 class="subsection-header"><strong>Dwelling Units in Floodplain {{info-tooltip tip="Counts of residential units on lots that intersect with the 2015 PRIFM"}}</strong></h4>
            <div class="callout">
              {{building-type-chart property='unitsres' borocd=model.borocd}}
              <hr>
              <div class="text-center">
                <span class="chart-legend">
                  <span class="total"></span>&nbsp;Total Units
                  &nbsp;
                  <span class="percent"></span>&nbsp;Units in Floodplain
                </span>
              </div>
              {{ranking-chart-plus
                  column='cd_tot_resunits'
                  overlayColumn='current_fp_resunits'
                  numeral_format='0,0'
                  borocd=model.borocd
                  unit='units'}}
            </div>
          </div>
          <div class="cell large-4">
            <h4 class="subsection-header"><strong>Building Age in Floodplain {{info-tooltip tip="Counts of buildings on lots that intersect with the 2015 PRIFM"}}</strong></h4>
            <div class="callout">
              {{building-age-chart borocd=model.borocd}}
            </div>

            <h4 class="subsection-header"><strong>Subgrade Space in Floodplain {{info-tooltip tip="Counts of buildings with basements that intersect with the 2015 PRIFM"}}</strong></h4>
            <div class="callout">
              {{subgrade-chart borocd=model.borocd}}
            </div>
          </div>
        </div>
      </section>

      <section id="community-board" class="page-section">
        <h3 class="section-header">
          {{#scroll-to offset=-210 href='#community-board' afterScroll='handleAfterScroll'}}
            {{fa-icon "group"}} Community Board Perspectives {{fa-icon "link"}}
          {{/scroll-to}}
        </h3>
        <p class="section-header-description">Community Boards are an integral part in the City of New York’s governance. To contact your community board use the information below or to learn more about issues affecting your district, view the most recent Statement of Community District Needs. NYC Charter mandates that Community Boards annually prepare Statements of Community District Needs to provide a context for their budget priorities.</p>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-3">

            <h4 class="subsection-header"><strong>{{model.boro}} Community Board&nbsp;{{model.cd}}</strong></h4>
            <p>
              <a class="button small hollow expanded {{if model.dataprofile.cb_website '' 'disabled'}}" href="{{model.dataprofile.cb_website}}" target="_blank">
                {{fa-icon "external-link"}}&nbsp;<strong>website</strong>
              </a>
              <a class="button small hollow expanded {{if model.dataprofile.cb_email '' 'disabled'}}" href="mailto:{{model.dataprofile.cb_email}}">{{fa-icon "envelope"}}&nbsp;<strong>email</strong></a>
            </p>

          </div>
          <div class="cell medium-9">

            <h4 class="subsection-header"><strong>Statement of Community District Needs</strong></h4>
            <div class="callout">
              <div class="grid-x grid-margin-x">
                <div class="cell xlarge-6">
                  <p>These are the top 3 pressing issues perceived and identified by {{model.boro}} Community Board&nbsp;{{model.cd}} in the latest needs statement:</p>
                  {{#if noSON}}
                    <p>This community board did not provide a statement of needs.</p>
                  {{else}}
                  <ul>
                    <li class="list-item-padded"><strong class="title-case header-medium">{{d.son_issue_1}}</strong></li>
                    <li class="list-item-padded"><strong class="title-case header-medium">{{d.son_issue_2}}</strong></li>
                    <li class="list-item-padded"><strong class="title-case header-medium">{{d.son_issue_3}}</strong></li>
                  </ul>
                  {{/if}}
                </div>
                <div class="cell xlarge-6 relative">
                  {{needs-statements district=model}}
                </div>
              </div>
            </div>

          </div>
        </div>

      </section>

      <section id="projects" class="page-section">
        <h3 class="section-header">
          {{#scroll-to offset=-210 href='#projects' afterScroll='handleAfterScroll'}}
            {{fa-icon "calendar"}} Projects {{fa-icon "link"}}
          {{/scroll-to}}
        </h3>
        <p class="section-header-description">The following section contains information on current and approved land use plans and proposals, ongoing or concluded neighborhood studies, and 197-a plans for each district. Learn more about the land use application process on the <a gref="http://a030-lucats.nyc.gov/lucats/ULURP_Search.aspx">LUCATS website</a>, and more about community-based planning on the <a href="http://www1.nyc.gov/site/planning/community/community-based-planning.page" target="_blank">DCP website</a>.</p>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6 large-8 xlarge-7">

            <h4 class="subsection-header"><strong>Land Use Applications {{info-tooltip tip="Application records are pulled from LUCATS, the Department of City Planning’s web application for land use (ULURP) and CEQR application records."}}</strong></h4>
            <div class="callout">
              {{lucats-list district=model}}
            </div>

          </div>
          <div class="cell medium-6 large-4 xlarge-5">
            <h4 class="subsection-header"><strong>Neighborhood Studies & Plans</strong></h4>
            <div class="callout">
              {{studies-and-plans district=model}}
            </div>

            <h4 class="subsection-header"><strong>197a Plans</strong></h4>
            <div class="callout">
              {{197a-plans district=model}}
            </div>
          </div>
        </div>

      </section>

      <section id="resources" class="page-section">
        <h3 class="section-header">
          {{#scroll-to offset=-210 href='#resources' afterScroll='handleAfterScroll'}}
            {{fa-icon "files-o"}} Resources {{fa-icon "link"}}
          {{/scroll-to}}
        </h3>
        <p class="section-header-description">Selected census data tables are provided for community district/PUMA. The mapping resources below provide geographic information on a variety of topics at the community district level. The data found on on this profile may be downloaded below.</p>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-3 xlarge-4">

            <h4 class="subsection-header"><strong>Census Data Tables {{info-tooltip tip="Public Use Microdata Areas (PUMAS) approximate Community Districts, allowing for aggregation of census data.  See the Comparison Map for more info."}}</strong></h4>
            <div class="callout">
              <ul class="no-bullet">
                <li class="list-item-padded"><a target="_blank" href="http://www1.nyc.gov/assets/planning/download/pdf/data-maps/nyc-population/census2010/puma_cd_map.pdf">{{fa-icon "file-pdf-o"}} <strong>CD/PUMA Comparison Map</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="http://www1.nyc.gov/assets/planning/download/pdf/community/community-portal/socio_demo/{{model.borocdAcronymLowerCase}}_socio_demo.pdf">{{fa-icon "file-pdf-o"}} <strong>2010 Census Summary</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="http://www1.nyc.gov/assets/planning/download/pdf/data-maps/nyc-population/acs/demo_2015acs5yr_puma.pdf#{{model.borocdAcronymLowerCase}}">{{fa-icon "file-pdf-o"}} <strong>PUMA Demographic Profile</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="http://www1.nyc.gov/assets/planning/download/pdf/data-maps/nyc-population/acs/soc_2015acs5yr_puma.pdf#{{model.borocdAcronymLowerCase}}">{{fa-icon "file-pdf-o"}} <strong>PUMA Social Profile</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="http://www1.nyc.gov/assets/planning/download/pdf/data-maps/nyc-population/acs/econ_2015acs5yr_puma.pdf#{{model.borocdAcronymLowerCase}}">{{fa-icon "file-pdf-o"}} <strong>PUMA Economic Profile</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="http://www1.nyc.gov/assets/planning/download/pdf/data-maps/nyc-population/acs/hous_2015acs5yr_puma.pdf#{{model.borocdAcronymLowerCase}}">{{fa-icon "file-pdf-o"}} <strong>PUMA Housing Profile</strong></a></li>
              </ul>
            </div>
          </div>
          <div class="cell medium-3 xlarge-4">
            <h4 class="subsection-header"><strong>New York City Community Health Profiles {{info-tooltip tip="The New York City Community Health Profiles capture the health of 59 community districts across the city."}}</strong></h4>
            <div class="callout">
              <a class="button small hollow expanded" target="_blank" href="{{model.healthProfileLink}}">{{fa-icon "file-pdf-o"}} <strong>{{model.boro}} Community District {{model.cd}} Health Profile</strong></a>
            </div>
          </div>
          <div class="cell medium-5 xlarge-4">
            <h4 class="subsection-header"><strong>Download the Data</strong></h4>
            <div class="callout">
              <a class="button small hollow expanded" href="https://cartoprod.capitalplanning.nyc/user/cpp/api/v2/sql?format=csv&q=SELECT%20borocd,poverty_rate,moe_poverty_rate,pct_bach_deg,moe_bach_deg,unemployment_cd,moe_unemployment_cd,crime_per_1000,mean_commute,moe_mean_commute,pct_hh_rent_burd,moe_hh_rent_burd,pct_clean_strts,pct_served_parks FROM community_district_profiles&filename={{model.boro}}-{{model.cd}}-indicators.csv">{{fa-icon "download"}}&nbsp;<strong>Indicators Data</strong> <small>(CSV)</small></a>
              <a class="button small hollow expanded" href="https://cartoprod.capitalplanning.nyc/user/cpp/api/v2/sql?format=shp&q=SELECT a.the_geom_webmercator, a.the_geom, a.facname, a.facdomain, b.borocd FROM facdb_facilities a INNER JOIN support_admin_cdboundaries b ON ST_Contains(b.the_geom, a.the_geom) WHERE b.borocd={{model.borocd}}&filename={{model.boro}}-{{model.cd}}-facilities.shp">{{fa-icon "download"}}&nbsp;<strong>Facilities Data</strong> <small>(Shapefile)</small></a>
              <a class="button small hollow expanded" href="https://cartoprod.capitalplanning.nyc/user/cpp/api/v2/sql?format=SHP&q=SELECT a.the_geom_webmercator, a.the_geom, a.landuse, b.description, a.address, c.borocd FROM support_mappluto a LEFT JOIN support_landuse_lookup b ON a.landuse::integer = b.code INNER JOIN support_admin_cdboundaries c ON ST_Intersects(a.the_geom, c.the_geom) WHERE c.borocd={{model.borocd}}&filename={{model.boro}}-{{model.cd}}-pluto.shp">{{fa-icon "download"}}&nbsp;<strong>Pluto Data</strong> <small>(Shapefile)</small></a>
            </div>
          </div>
        </div>

      </section>

    </div>

    {{outlet}}

  </div>
</div>
