<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell">

      <h1 class="district-header">
        <span class="boro">{{model.properties.boro}}</span>
        Community District {{model.properties.cd}}
      </h1>
      <p>
        All about {{model.properties.boro}}:<br/>
        Crime: 0
      </p>

      <section class="callout">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
          </div>
        </div>
      </section>

      <section class="callout">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
          </div>
        </div>
      </section>

      <section class="callout">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-6">
              {{land-use-map}}
            </div>
            <div class="cell medium-6">
              {{land-use-chart borocd=model.properties.borocd}}
            </div>
          </div>
        </div>
      </section>
      {{outlet}}
    </div>
  </div>
</div>
