<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell section-padded">
      <h1>
        {{model.properties.boro}} Community District {{model.properties.cd}}
      </h1>
      {{land-use-map}}
      {{land-use-chart}}
      {{log model}}
      {{outlet}}

    </div>
  </div>
</div>
