<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell section-padded">

<<<<<<< HEAD
      <h1>{{model.properties.boro}} Community District {{model.properties.cd}}</h1>
=======
      <h1>{{model.boro}} Community District {{model.cd}}</h1>
>>>>>>> develop
      {{land-use-map}}
      {{log model}}
      {{outlet}}

    </div>
  </div>
</div>
