<div class="grid-x grid-padding-x">
  <div class="cell">

    <div class="district-header">
      <h1>
        <a href="#main">
          {{model.boro}} Community District {{model.cd}}
        </a>
      </h1>
      <div class="section-menu hide-for-print">
        <ul class="menu">
          <li><a href='#indicators'>Indicators</a></li>
          <li><a href='#built-environment'>Built Environment</a></li>
          <li><a href='#floodplain'>Floodplain</a></li>
          <li><a href='#community-board'>Community Board</a></li>
          <li><a href='#projects'>Projects</a></li>
          <li><a href='#resources'>Resources</a></li>
        </ul>
      </div>
    </div>

    <div class="district-content">
      <div class="neighborhoods-list">
        {{model.neighborhoods}} {{info-tooltip tip="Neighborhoods may be in multiple districts. Neighborhood names and boundaries are not officially designated."}}
      </div>

      <section class="page-section">
        <hr class="hide-for-large"><br class="show-for-large">

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6 large-12 xlarge-7">

            <h4 class="subsection-header"><strong>Population</strong></h4>
            <div class="callout">
              <div class="grid-x grid-margin-x align-middle">
                <div class="cell small-6 large-4 text-center">
                  <span class="stat">{{numeral-format d.pop_2000 '0.0a'}}</span>
                  <span class="stat-footer">2000 Census</span>
                </div>
                <div class="cell small-6 large-4 text-center">
                  <span class="stat">{{numeral-format d.pop_2010 '0.0a'}}</span>
                  <span class="stat-footer">2010 Census <small class="dark-gray">({{numeral-format d.pop_change_00_10 '+0%'}})</small></span>
                </div>
                <div class="cell small-12 large-4 text-center cell-divider--population">
                  <span class="lead">
                    {{#if d.shared_puma}}
                      N/A
                    {{else}}
                      {{numeral-format d.pop_acs '0.0a'}}
                    {{/if}}
                  </span>
                  <small class="stat-footer">2012-2016 Estimate {{info-tooltip tip="American Community Survey 5-year Estimates. Population estimate is N/A for districts that share a PUMA; data cannot be reliably disaggregated."}}</small>
                </div>
              </div>
            </div>

            <h4 class="subsection-header"><strong>Population by Age {{info-tooltip tip=d.acs_tooltip}}</strong></h4>
            <div class="callout">
              {{age-pyramid data=agePopDist}}
            </div>

          </div>
          <div class="cell medium-6 large-12 xlarge-5">

            <div class="grid-x grid-padding-x">
              <div class="cell large-6 xlarge-12">

                <h4 class="subsection-header"><strong>Area &amp; Density {{info-tooltip tip="Density is calculated using 2010 Census population. Density may vary drastically within a community district."}}</strong></h4>
                <div class="callout text-center">
                  <div class="grid-x grid-margin-x align-middle">
                    <div class="cell small-6 -large-12">
                      <span class="stat">{{numeral-format d.area_sqmi '0.0'}}</span>
                      <span class="stat-footer">square miles</span>
                    </div>
                    <div class="cell small-6 -large-12 cell-divider--density">
                      <span class="lead">{{numeral-format popDensity '0,0'}}</span>
                      <small class="stat-footer">persons per sq mi</small>
                    </div>
                  </div>
                </div>

              </div>
              <div class="cell large-6 xlarge-8">

                <h4 class="subsection-header"><strong>Foreign-Born Population {{info-tooltip tip=d.acs_tooltip}}</strong></h4>
                <div class="callout text-center">
                  <span class="stat">
                    {{numeral-format d.pct_foreign_born '0.0'}}%
                  </span>
                  <small class="stat-footer">of residents are <a href="https://www.census.gov/topics/population/foreign-born/about.html" target="_blank">foreign-born</a></small>
                </div>

              </div>
              <div class="cell xlarge-10">

                <h4 class="subsection-header"><strong>Race &amp; Hispanic Origin {{info-tooltip tip=d.acs_tooltip}}</strong></h4>
                <div class="callout">
                  {{horizontal-bar data=racialProfile height=150 barLabel=false xMax=100}}
                </div>

              </div>
            </div>

          </div>
        </div>
      </section>

      <section class="page-section">
        <a id="indicators" class="offset-anchor"></a>
        <h3 class="section-header">
          <a href='#indicators'>{{fa-icon "bar-chart"}} Indicators</a>
        </h3>

        <div class="grid-x grid-padding-x align-bottom">
          <div class="cell medium-8 xlarge-9">
            <p class="section-header-description">The information below provides a snapshot of key socio-economic, demographic, and select service performance indicators. To provide further context, the selected district is displayed in comparison to all 59 community districts; where available, borough and City benchmarks are provided. The entire set of indicators may be downloaded in the Resources section below.</p>
          </div>
          <div class="cell medium-4 xlarge-3 medium-text-right">
            <span class="chart-legend">
              <span class="estimate"></span>&nbsp;Estimate
              &nbsp;
              <span class="moe"></span>&nbsp;Margin of Error
            </span>
          </div>
         </div>

        {{#key-indicators class="key-indicators"
                          indicators=columns
                          boro=model.boro
                          cd=model.cd
                          borocd=d.borocd as |data|}}
          {{#data.indicator class="indicator" name='Age Under 18'
                            column='under18_rate'
                            moe='moe_under18_rate'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.under18_rate
                            boro_stat=d.under18_rate_boro
                            city_stat=d.under18_rate_nyc}}
            of residents are under the age&nbsp;of&nbsp;18
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Age 65 & Over'
                            column='over65_rate'
                            moe='moe_over65_rate'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.over65_rate
                            boro_stat=d.over65_rate_boro
                            city_stat=d.over65_rate_nyc}}
            of residents are age 65 and over
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Rent Burden'
                            column='pct_hh_rent_burd'
                            moe='moe_hh_rent_burd'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.pct_hh_rent_burd
                            boro_stat=d.pct_hh_rent_burd_boro
                            city_stat=d.pct_hh_rent_burd_nyc}}
            of households <a href="https://www.census.gov/topics/housing/about.html" target="_blank">spend 35% or more of their income on&nbsp;rent</a>
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Access to Parks'
                            column='pct_served_parks'
                            unit='%'
                            tip='New York City Department of Parks & Recreation, 2016. DPR considers walking distance to be 1/4 mile for parks less than 6 acres, and 1/2 mile for larger parks and pools.'
                            cd_stat=d.pct_served_parks}}
            of residents live within <a href="https://www.nycgovparks.org/planning-and-building/planning/walk-to-a-park" target="_blank">walking distance of a park or open space</a>
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Mean Commute to Work'
                            column='mean_commute'
                            moe='moe_mean_commute'
                            tip=d.acs_tooltip
                            cd_stat=d.mean_commute
                            boro_stat=d.mean_commute_boro
                            city_stat=d.mean_commute_nyc}}
            <a href="https://www.census.gov/topics/employment/commuting/about.html" target="_blank">minutes</a>
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Street Cleanliness'
                            column='pct_clean_strts'
                            unit='%'
                            tip='New York City Department of Sanitation, 2018'
                            cd_stat=d.pct_clean_strts
                            boro_stat=d.pct_clean_strts_boro
                            city_stat=d.pct_clean_strts_nyc}}
            of streets rated "acceptable" on the <a href="https://www1.nyc.gov/site/operations/performance/scorecard-street-sidewalk-cleanliness-ratings.page" target="_blank">Street Cleanliness Scorecard</a> in FY&nbsp;2017
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Crime'
                            column='crime_count'
                            tip='NYPD Historic Complaint Data accessed via NYC Open Data. NYPD classifies seven crimes as major felonies: murder, rape, robbery, felony assault, burglary, grand larceny, and grand larceny of a motor vehicle. Only reports with precise location information are included in community district crime indicator.'
                            cd_stat=d.crime_count
                            numeral_format=0
                            boro_stat=d.crime_count_boro
                            city_stat=d.crime_count_nyc}}
            <a href="https://maps.nyc.gov/crime/" target="_blank">major felonies</a> were reported in&nbsp;2017
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Educational Attainment'
                            column='pct_bach_deg'
                            moe='moe_bach_deg'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.pct_bach_deg
                            boro_stat=d.pct_bach_deg_boro
                            city_stat=d.pct_bach_deg_nyc}}
            of residents age 25 years and over have <a href="https://www.census.gov/topics/education/educational-attainment/about.html" target="_blank">earned a bachelor's degree or&nbsp;higher</a>
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Limited English Proficiency'
                            column='lep_rate'
                            moe='moe_lep_rate'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.lep_rate
                            boro_stat=d.lep_rate_boro
                            city_stat=d.lep_rate_nyc}}
            of residents self-identify as having <a href="https://www.census.gov/topics/population/language-use/about.html" target="_blank">limited English&nbsp;proficiency</a>
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Unemployment'
                            column='unemployment_cd'
                            moe='moe_unemployment_cd'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.unemployment_cd
                            boro_stat=d.unemployment_boro
                            city_stat=d.unemployment_nyc}}
            of the <a href="https://www.census.gov/topics/employment/labor-force.html" target="_blank">civilian labor force is unemployed</a>
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='NYCgov Poverty Measure'
                            column='poverty_rate'
                            moe='moe_poverty_rate'
                            tip='NYCgov Poverty Rate, 2012-2016 5-year average. This NYC-specific poverty measure is adjusted for the City’s high cost of housing and includes the value of anti-poverty programs (e.g. SNAP, housing assistance) as family resources. Accounts for certain costs (e.g. medical, commuting, childcare). Historically produces a higher, more realistic measure of poverty than the official U.S. measure.'
                            unit='%'
                            cd_stat=d.poverty_rate
                            boro_stat=d.poverty_rate_boro
                            city_stat=d.poverty_rate_nyc}}
            of residents have incomes below the <a href="http://www1.nyc.gov/site/opportunity/poverty-in-nyc/poverty-measure.page" target="_blank">NYCgov poverty threshold</a>. Compare to <a href="https://www1.nyc.gov/assets/planning/download/office/data-maps/nyc-population/acs/econ_2016acs5yr_puma.xlsx?r=1" target="_blank">federal poverty&nbsp;rate</a>.
          {{/data.indicator}}
        {{/key-indicators}}

      </section>

      <section class="page-section">
        <a id="built-environment" class="offset-anchor"></a>
        <h3 class="section-header">
          <a href='#built-environment'>{{fa-icon "building"}} Built Environment</a>
        </h3>
        <p class="section-header-description">This section offers a survey of the land uses that currently exist in each district, the zoning that will guide its development, and the public facilities that serve its residents. To find out more about land use and zoning in New York City, visit <a href="http://maps.nyc.gov/doitt/nycitymap/template?applicationName=ZOLA" target="_blank">ZoLa</a> or download the full Primary Land Use Tax Lot Output (PLUTO) and MapPLUTO <a href="https://www1.nyc.gov/site/planning/data-maps/open-data.page" target="_blank">datasets</a>. For more detailed information on New York City’s public facilities, visit the <a href="http://capitalplanning.nyc/facilities" target="_blank">NYC Facilities Explorer</a>.</p>

        <h4 class="subsection-header"><strong>Land Use {{info-tooltip tip="Primary Land Use Tax Lot Output (PLUTO) release 16v2. Chart provides total lot area by land use type according to NYC Department of Finance lot measurements."}}</strong></h4>
        <div class="callout">
          <div class="grid-x grid-padding-x-small">
            <div class="cell medium-6 large-7">
              {{land-use-map}}
            </div>
            <div class="cell medium-6 large-5 cell-medium-padded-left cell-small-only-padded-top">
              {{land-use-chart borocd=model.borocd}}
            </div>
          </div>
        </div>

        <h4 class="subsection-header"><strong>Zoning {{info-tooltip tip="Chart shows area distribution of the three zoning designations (residence, commercial, and manufacturing), as well as park area."}}</strong></h4>
        <div class="callout">
          <div class="grid-x grid-padding-x-small align-middle">
            <div class="cell medium-6 large-7">
              {{zoning-map borocd=model.borocd}}
            </div>
            <div class="cell medium-6 large-5 cell-medium-padded-left cell-small-only-padded-top">
              {{zoning-chart
                height=140
                borocd=model.borocd
              }}
              <hr/>
              <p class="text-center">Learn more about zoning and land use in <a href="http://maps.nyc.gov/zola/" target="_blank">{{fa-icon "external-link"}}&nbsp;ZoLa</a></p>
            </div>
          </div>
        </div>

        <h4 class="subsection-header"><strong>Facilities</strong> {{info-tooltip tip="Click on a facility to view additional details on the NYC Facilities Explorer."}}</h4>
        <div class="callout">
          {{facilities-section borocd=model.borocd}}
        </div>

        <h4 class="subsection-header"><strong>Community Assets {{info-tooltip tip="Facility types are derived from City Planning’s Selected Facilities Database. To view location of facilities use NYC’s Facilities Explorer above."}}</strong></h4>
        <div class="grid-x grid-padding-x">
          <div class="cell medium-3 large-6 xlarge-3">
            <div class="callout text-center">
              <span class="stat"><span class="dark-gray">{{fa-icon "graduation-cap"}}</span>&nbsp;{{d.count_public_schools}}</span><br>
              Public Schools {{info-tooltip tip='Public elementary, middle, high, and special education schools. Public schools identified may serve multiple community districts.'}}
            </div>
          </div>
          <div class="cell medium-3 large-6 xlarge-3">
            <div class="callout text-center">
              <span class="stat"><span class="dark-gray">{{fa-icon "book"}}</span>&nbsp;{{d.count_libraries}}</span><br>
              Public Libraries {{info-tooltip tip='All public libraries'}}
            </div>
          </div>
          <div class="cell medium-3 large-6 xlarge-3">
            <div class="callout text-center">
              <span class="stat"><span class="dark-gray">{{fa-icon "hospital-o"}}</span>&nbsp;{{d.count_hosp_clinic}}</span><br>
              Hospitals and Clinics {{info-tooltip tip='Urgent care hospitals, diagnostic and treatment centers, and school-based health facilities'}}
            </div>
          </div>
          <div class="cell medium-3 large-6 xlarge-3">
            <div class="callout text-center">
              <span class="stat"><span class="dark-gray">{{fa-icon "tree"}}</span>&nbsp;{{d.count_parks}}</span><br>
              Parks {{info-tooltip tip='Flagship parks, community parks, state parks, and city-state parks'}}
            </div>
          </div>
        </div>
      </section>

      <section class="page-section">
        <a id="floodplain" class="offset-anchor"></a>
        <h3 class="section-header">
          <a href='#floodplain'>{{fa-icon "tint"}} Floodplain</a>
        </h3>
        {{#if inFloodplain}}
        <div class="grid-x grid-padding-x">
          <div class="cell large-8">
            <p class="section-header-description">The information below details the people and built environment within NYC’s floodplain, showing the risk and key characteristics that influence the ability of a neighborhood to adapt. The 100 year flood plain is based on the 1% annual chance floodplain established by the FEMA 2015 Preliminary Flood Insurance Rate Maps (PFIRM) and the FEMA 2007 Flood Insurance Rate Maps (FIRM). The 500 year floodplain is based on the 0.2% annual chance floodplain established by the FEMA 2015 Preliminary Flood Insurance Rate Maps (PFIRM) and the FEMA 2007 Flood Insurance Rate Maps (FIRM). For more information on City Planning’s resiliency work program, visit <a href="http://nyc.gov/resilientneighborhoods" target="_blank">Resilient Neighborhoods</a>.</p>
          </div>
        </div>

        <h4 class="subsection-header"><strong>Current &amp; 500-yr Floodplain</strong></h4>
        <div class="callout">
          <div class="grid-x grid-padding-x-small">
            <div class="cell xlarge-6">
              {{waterfront-map}}
            </div>
            <div class="cell xlarge-6 cell-xlarge-padded-left cell-large-down-padded-top">
              <div class="floodplain-table-container">
                <table class="text-small no-margin">
                  <thead>
                    <tr>
                      <th>Indicators</th>
                      <th style="background-color: #99CCEE;">100-yr Floodplain</th>
                      <th style="background-color: #EDCD85;">500-yr Floodplain</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>2010 Population {{info-tooltip tip=d.acs_tooltip_3}}</td>
                      <td>
                        {{#if d.fp_500_pop}}
                          {{if (gte d.fp_100_pop 1000) (numeral-format d.fp_100_pop '0.0a') (numeral-format d.fp_100_pop '0')}}
                        {{else}}
                          n/a
                        {{/if}}
                      </td>
                      <td>
                        {{#if d.fp_500_pop}}
                          {{if (gte d.fp_500_pop 1000) (numeral-format d.fp_500_pop '0.0a') (numeral-format d.fp_500_pop '0')}}
                        {{else}}
                          n/a
                        {{/if}}
                      </td>
                    </tr>
                    <tr>
                      <td>Total Lot Area {{info-tooltip tip="based on MapPluto 18v1"}}</td>
                      <td>{{if d.fp_100_area (concat (numeral-format d.fp_100_area '0.00') ' sq mi') 'n/a'}}</td>
                      <td>{{if d.fp_500_area (concat (numeral-format d.fp_500_area '0.00') ' sq mi') 'n/a'}}</td>
                    </tr>
                    <tr>
                      <td>Median Household Income {{info-tooltip tip=d.acs_tooltip_2}}</td>
                      {{#if (eq d.fp_100_mhhi 200000)}}
                        <td>$200,000+</td>
                      {{else}}
                        <td>{{if d.fp_100_mhhi (numeral-format d.fp_100_mhhi '$0,0') 'n/a'}}</td>
                      {{/if}}
                      <td>{{if d.fp_500_mhhi (numeral-format d.fp_500_mhhi '$0,0') 'n/a'}}</td>
                    </tr>
                    <tr>
                      <td>Total Units Owner Occupied {{info-tooltip tip=d.acs_tooltip_2}}</td>
                      <td class="{{if (lte d.fp_100_ownerocc_value 1000) 'unreliable'}}">{{if d.fp_100_ownerocc (numeral-format d.fp_100_ownerocc '(0.0%)') 'n/a'}}</td>
                      <td class="{{if (lte d.fp_500_ownerocc_value 1000) 'unreliable'}}">{{if d.fp_500_ownerocc (numeral-format d.fp_500_ownerocc '(0.0%)') 'n/a'}}</td>
                    </tr>
                    <tr>
                      <td>Owner Occupied Units with Mortgages {{info-tooltip tip=d.acs_tooltip_2}}</td>
                      <td class="{{if (lte d.fp_100_mortg_value 1000) 'unreliable'}}">{{if d.fp_100_permortg (numeral-format d.fp_100_permortg '(0.0%)') 'n/a'}}</td>
                      <td class="{{if (lte d.fp_500_mortg_value 1000) 'unreliable'}}">{{if d.fp_500_permortg (numeral-format d.fp_500_permortg '(0.0%)') 'n/a'}}</td>
                    </tr>
                    <tr>
                      <td>Renter Occupied Units Cost Burdened {{info-tooltip tip=d.acs_tooltip_2}}</td>
                      <td class="{{if (lte d.fp_100_rent_burden_value 1000) 'unreliable'}}">{{if d.fp_100_rent_burden (numeral-format d.fp_100_rent_burden '(0.0%)') 'n/a'}}</td>
                      <td class="{{if (lte d.fp_500_rent_burden_value 1000) 'unreliable'}}">{{if d.fp_500_rent_burden (numeral-format d.fp_500_rent_burden '(0.0%)') 'n/a'}}</td>
                    </tr>
                    <tr>
                      <td>Owner Occupied Units Cost Burdened {{info-tooltip tip=d.acs_tooltip_2}}</td>
                      <td class="{{if (lte d.fp_500_cost_burden_value 1000) 'unreliable'}}">{{if d.fp_100_cost_burden (numeral-format d.fp_100_cost_burden '(0.0%)') 'n/a'}}</td>
                      <td class="{{if (lte d.fp_500_cost_burden_value 1000) 'unreliable'}}">{{if d.fp_500_cost_burden (numeral-format d.fp_500_cost_burden '(0.0%)') 'n/a'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p class="text-center no-margin">Learn more with the <a href="http://dcp.maps.arcgis.com/apps/webappviewer/index.html?id=1c37d271fba14163bbb520517153d6d5" target="_blank">{{fa-icon "external-link"}} NYC Flood Hazard Mapper</a></p>
              <p class="text-small dark-gray text-center"><br>2010 Census population is calculated by identifying census blocks with centroids in the floodplain. American Community Survey (ACS) characteristics are calculated by, first, identifying census blocks with centroids in the floodplain, and then using ACS data for census block groups with constituent blocks that fall in the floodplain. Users should note that ACS data are derived from a survey and are subject to sampling variability. Grayed values are not statistically reliable (<a href="https://www.census.gov/programs-surveys/acs/guidance.html" target="_blank">guidance on ACS data</a>).</p>
            </div>
          </div>
        </div>
          {{floodplain-charts model=model}}
        {{else}}
        <div class="grid-x grid-padding-x">
          <div class="cell large-8">
            <p class="callout"> This community district is not affected by the floodplain.</p>
          </div>
        </div>
        {{/if}}
      </section>

      <section class="page-section">
        <a id="community-board" class="offset-anchor"></a>
        <h3 class="section-header">
          <a href='#community-board'>{{fa-icon "group"}} Community Board Perspectives</a>
        </h3>
        <p class="section-header-description">Community boards are liaisons between district residents and City government, charged with advocating for their districts’ unique priorities in collaboration with city agencies. To learn more about the issues affecting your district, view the most recent Statement of Community District Needs. Want to get involved? Visit your community board’s website or email them directly.</p>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-3">

            <h4 class="subsection-header"><strong>{{model.boro}} Community Board&nbsp;{{model.cd}}</strong></h4>
            <p>
              <a class="button small hollow expanded {{if model.dataprofile.cb_website '' 'disabled'}}" href="{{add-http model.dataprofile.cb_website}}" target="_blank">
                {{fa-icon "external-link"}}&nbsp;<strong>website</strong>
              </a>
              <a class="button small hollow expanded {{if model.dataprofile.cb_email '' 'disabled'}}" href="mailto:{{model.dataprofile.cb_email}}">{{fa-icon "envelope"}}&nbsp;<strong>email</strong></a>
            </p>

          </div>
          <div class="cell medium-9">

            <h4 class="subsection-header"><strong>Statement of Community District Needs {{info-tooltip tip="NYC Charter mandates that community boards annually prepare a Statement of Community District Needs and submit budget priorities each fiscal year."}}</strong></h4>
            <div class="callout">
              <div class="grid-x grid-margin-x">
                <div class="cell xlarge-6">
                  <p>These are the top 3 pressing issues perceived and identified by {{model.boro}} Community Board&nbsp;{{model.cd}} in the latest needs statement:</p>
                  {{#if noSON}}
                    <p>This community board did not provide a statement of needs.</p>
                  {{else}}
                  <ul>
                    <li class="list-item-padded"><strong class="header-small">{{d.son_issue_1}}</strong></li>
                    <li class="list-item-padded"><strong class="header-small">{{d.son_issue_2}}</strong></li>
                    <li class="list-item-padded"><strong class="header-small">{{d.son_issue_3}}</strong></li>
                  </ul>
                  {{/if}}
                </div>
                <div class="cell xlarge-6 relative">
                  {{needs-statements district=model}}
                </div>
              </div>
            </div>

          </div>
        </div>

      </section>

      <section class="page-section">
        <a id="projects" class="offset-anchor"></a>
        <h3 class="section-header">
          <a href='#projects'>{{fa-icon "calendar"}} Projects</a>
        </h3>
        <p class="section-header-description">The following section contains information on active and completed land use plans and proposals, ongoing or concluded neighborhood studies, and community-based plans for each district. Click on an application below to view more details, or visit the <a href="https://zap.planning.nyc.gov" target="_blank">ZAP website</a> to learn more about the land use application process. Learn more about community-based planning by visiting our <a href="http://www1.nyc.gov/site/planning/community/community-based-planning.page" target="_blank">website</a>.</p>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6 large-8 xlarge-7">

            <h4 class="subsection-header"><strong>Land Use Applications {{info-tooltip tip="Application records are pulled from ZAP, City Planning’s web application for land use (ULURP) and CEQR application records."}}</strong></h4>
            <div class="callout">
              {{zap-list district=model}}
            </div>

          </div>
          <div class="cell medium-6 large-4 xlarge-5">
            <h4 class="subsection-header"><strong>Neighborhood Studies &amp; Plans {{info-tooltip tip="Place-based planning studies inform the use and development of land in the City’s neighborhoods, business districts, and waterfront through participatory planning and zoning changes."}}</strong></h4>
            <div class="callout">
              {{studies-and-plans district=model}}
            </div>

            <h4 class="subsection-header"><strong>197&#8209;a Plans</strong> {{info-tooltip tip="A formal way to develop a community-based plan is set out in Section 197-a of the City Charter."}}</h4>
            <div class="callout">
              {{197a-plans district=model}}
            </div>

            <h4 class="subsection-header"><strong>City Planning Commission Decisions {{info-tooltip tip="City Planning Commission (CPC) Reports are the official records of actions taken by the CPC"}}</strong></h4>
            <div class="callout">
              <a class="button small hollow expanded" target="_blank" href="http://a030-cpc.nyc.gov/html/cpc/index.aspx?boro_link={{model.boroAcronymLowerCase}}&cd_link={{model.cd}}">{{fa-icon "external-link"}} <strong>{{model.boro}} Community District {{model.cd}} CPC Reports</strong></a>
            </div>

            <h4 class="subsection-header"><strong>Building Information &amp; Permits {{info-tooltip tip="NYC Department of Buildings Building Information Search"}}</strong></h4>
            <div class="callout">
              <a class="button small hollow expanded no-margin" href="http://a810-bisweb.nyc.gov/bisweb/bispi00.jsp" target="_blank">{{fa-icon "external-link"}} <strong>Search BISweb</strong></a>
            </div>
          </div>
        </div>

      </section>

      <section class="page-section">
        <a id="resources" class="offset-anchor"></a>
        <h3 class="section-header">
          <a href='#resources'>{{fa-icon "files-o"}} Resources</a>
        </h3>
        <p class="section-header-description">This section provides helpful planning resources like reference maps, additional Census data, and links to other community profiles. A one-page summary version of each district’s profile is available as a PDF. The data referenced in these interactive profiles are available for download.</p>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-3 xlarge-4">
            <h4 class="subsection-header"><strong>Reference Maps</strong></h4>
            <div class="callout">
              <ul class="no-bullet">
                <li class="list-item-padded"><a target="_blank" href="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/NYCPlanning/labs-cd-files/master/landuse/{{model.borocdAcronymLowerCase}}_landuse.pdf">{{fa-icon "file-pdf-o"}} <strong>CD Land Use</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/NYCPlanning/labs-cd-files/master/boroughlanduse/{{model.boroAcronymLowerCase}}_landuseprofile.pdf">{{fa-icon "file-pdf-o"}} <strong>Borough Land Use</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/NYCPlanning/labs-cd-files/master/censustracts/{{model.borocdAcronymLowerCase}}_censustracts.pdf">{{fa-icon "file-pdf-o"}} <strong>Census Tracts</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/NYCPlanning/labs-cd-files/master/basemaps/{{model.borocdAcronymLowerCase}}_basemap.pdf">{{fa-icon "file-pdf-o"}} <strong>Basemaps</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/NYCPlanning/labs-cd-files/master/politicaldistricts/{{model.boroAcronymLowerCase}}_politicaldistricts.pdf">{{fa-icon "file-pdf-o"}} <strong>Political Districts</strong></a></li>
              </ul>
            </div>

            <h4 class="subsection-header"><strong>Additional Census Data {{info-tooltip tip="Census data are available at the community district level, while American Community Survey data are available at the Public Use Microdata Area (PUMA) level. PUMAs are approximations of community districts, and some PUMAs include two districts. See the CD/PUMA Comparison Map for more information."}}</strong></h4>
            <div class="callout">
              <ul class="no-bullet">
                <li class="list-item-padded"><a target="_blank" href="http://www1.nyc.gov/assets/planning/download/pdf/data-maps/nyc-population/census2010/puma_cd_map.pdf">{{fa-icon "file-pdf-o"}} <strong>CD/PUMA Comparison Map</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="http://maps.nyc.gov/census/">{{fa-icon "external-link"}} <strong>NYC Census FactFinder</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="http://www1.nyc.gov/site/planning/data-maps/nyc-population/american-community-survey.page">{{fa-icon "external-link"}} <strong>American Community Survey (ACS) Data</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="http://www1.nyc.gov/site/planning/data-maps/nyc-population/census-2010.page">{{fa-icon "external-link"}} <strong>Decennial Census Data</strong></a></li>
              </ul>
            </div>
          </div>
          <div class="cell medium-3 xlarge-4">
            <h4 class="subsection-header"><strong>New York City Community Health Profile {{info-tooltip tip="The New York City Community Health Profiles illustrate how neighborhood social and economic conditions influence health outcomes in each community district."}}</strong></h4>
            <div class="callout">
              <a class="button small hollow expanded" target="_blank" href="{{model.healthProfileLink}}">{{fa-icon "file-pdf-o"}} <strong>{{model.boro}} Community District {{model.cd}} Health Profile</strong></a>
            </div>
            <h4 class="subsection-header"><strong>Summary Community District Profile {{info-tooltip tip="Download a one-page PDF version of this community district profile designed for printing."}}</strong></h4>
            <div class="callout">
              <a class="button small hollow expanded" target="_blank" href="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/NYCPlanning/labs-cd-files/master/static-profiles/{{model.borocdAcronymLowerCase}}_profile.pdf">{{fa-icon "file-pdf-o"}} <strong>{{model.boro}} Community District {{model.cd}} Summary Profile</strong></a>
            </div>
          </div>
          <div class="cell medium-5 xlarge-4">
            <h4 class="subsection-header"><strong>Download the Data</strong></h4>
            <div class="callout">
              <a class="button small hollow expanded" href={{dataprofileDownload}}>{{fa-icon "download"}}&nbsp;<strong>Indicators Data</strong> <small>(CSV)</small></a>
              <a class="button small hollow expanded" href="/data/cd_profile_data_dictionary.csv">{{fa-icon "download"}}&nbsp;<strong>Indicators Data Dictionary</strong> <small>(CSV)</small></a>
              <a class="button small hollow expanded" href="https://planninglabs.carto.com/api/v2/sql?format=shp&q=SELECT a.the_geom_webmercator, a.the_geom, a.facname, a.facdomain, b.borocd FROM facdb a INNER JOIN community_districts b ON ST_Contains(b.the_geom, a.the_geom) WHERE b.borocd={{model.borocd}}&filename={{model.boro}}-{{model.cd}}-facilities.shp">{{fa-icon "download"}}&nbsp;<strong>Facilities Data</strong> <small>(Shapefile)</small></a>
              <a class="button small hollow expanded" href="https://planninglabs.carto.com/api/v2/sql?format=SHP&q=SELECT a.the_geom_webmercator, a.the_geom, a.landuse, b.description, a.address, c.borocd FROM mappluto a LEFT JOIN support_landuse_lookup b ON a.landuse::integer = b.code INNER JOIN community_districts c ON ST_Intersects(a.the_geom, c.the_geom) WHERE c.borocd={{model.borocd}}&filename={{model.boro}}-{{model.cd}}-pluto.shp">{{fa-icon "download"}}&nbsp;<strong>PLUTO Data</strong> <small>(Shapefile)</small></a>
            </div>
          </div>
        </div>

      </section>

    </div>

    {{outlet}}

  </div>
</div>
