{{#if mapState.currentlySelected}}
  {{#ember-wormhole to="general-statistics"}}
    All about {{model.properties.boro}}:<br/>
    Crime: 0
  {{/ember-wormhole}}
{{/if}}

<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell section-padded">
      <h1>{{model.boro}} Community District {{model.cd}}</h1>
      {{land-use-map}}
      {{log model}}
      {{outlet}}
    </div>
  </div>
</div>
