<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell">

      <h1 class="district-header">
        <span class="boro">{{model.properties.boro}}</span>
        Community District {{model.properties.cd}}
      </h1>
      <h3>
        Needs:
      </h3>
      <ul>
        <li>{{model.properties.dataprofile.son_issue_1}}</li>  
        <li>{{model.properties.dataprofile.son_issue_2}}</li>
        <li>{{model.properties.dataprofile.son_issue_3}}</li>
      </ul>

      <a class="button" href="{{model.properties.dataprofile.cd_son_fy2018}}" download="cd_son_fy2018.pdf">Download Full Statement of Needs</a>

      <section class="callout">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
          </div>
        </div>
      </section>

      <section class="callout">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
          </div>
        </div>
      </section>

      <section class="callout">
        {{land-use-map}}
        {{log model}}
        {{outlet}}
      </section>

    </div>
  </div>
</div>
