<div class="grid-x grid-padding-x">
  <div class="cell">

    <div class="district-header">
      <h1>{{model.boro}} Community District {{model.cd}}</h1>
      <div class="section-menu hide-for-print">
        <ul class="menu">
          <li>{{scroll-to offset=-210 href='#indicators' label='Indicators' afterScroll='handleAfterScroll'}}</li>
          <li>{{scroll-to offset=-210 href='#built-environment' label='Built Environment' afterScroll='handleAfterScroll'}}</li>
          <li>{{scroll-to offset=-210 href='#community-board' label='Community Board' afterScroll='handleAfterScroll'}}</li>
          <li>{{scroll-to offset=-210 href='#actions' label='Actions' afterScroll='handleAfterScroll'}}</li>
          <li>{{scroll-to offset=-210 href='#resources' label='Resources' afterScroll='handleAfterScroll'}}</li>
        </ul>
      </div>
    </div>

    <div class="district-content">

      <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
          <h4 class="subsection-header"><strong>Neighborhoods</strong></h4>
          <p><small>{{model.neighborhoods}}</small></p>
        </div>
      </div>

      <section id="indicators" class="page-section">
        <h3 class="section-header">
          {{#scroll-to offset=-210 href='#indicators' afterScroll='handleAfterScroll'}}
            Indicators {{fa-icon "link"}}
          {{/scroll-to}}
        </h3>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6 xlarge-5">

            <h4 class="subsection-header"><strong>Population</strong></h4>
            <table class="small">
              <thead>
                <tr>
                  <th class="text-center">2000
                    <sup><span>
                      {{fa-icon "info-circle"}}
                      {{#tooltip-on-element duration=50000 event='hover'}}
                        Decennial Census
                      {{/tooltip-on-element}}
                    </span></sup>
                  </th>
                  <th class="text-center">2010
                    <sup><span>
                      {{fa-icon "info-circle"}}
                      {{#tooltip-on-element duration=50000 event='hover'}}
                        Decennial Census
                      {{/tooltip-on-element}}
                    </span></sup>
                  </th>
                  <th class="text-center">2011-2015
                    <sup><span>
                      {{fa-icon "info-circle"}}
                      {{#tooltip-on-element duration=50000 event='hover'}}
                        American Community Survey 5-year Estimates
                      {{/tooltip-on-element}}
                    </span></sup>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">
                    {{numeral-format d.pop_2000 '0.0a'}}
                  </td>
                  <td class="text-center">
                    {{numeral-format d.pop_2010 '0.0a'}}
                    ({{numeral-format d.pop_change_00_10 '+0%'}})
                  </td>
                  <td class="text-center">
                    {{numeral-format d.pop_11_15_acs '0.0a'}}
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <div class="cell medium-6 xlarge-5">

            <h4 class="subsection-header"><strong>Land Mass</strong></h4>
            <table class="small">
              <thead>
                <tr>
                  <th class="text-center">Square Miles</th>
                  <th class="text-center">Acres</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">
                    {{numeral-format d.area_sqmi '0.0'}}
                  </td>
                  <td class="text-center">
                    {{numeral-format d.acres '0,0'}}
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <div class="cell medium-8 xlarge-7">

            <h4 class="header-tiny"><strong>Community Assets</strong></h4>
            <table class="small">
              <thead>
                <tr>
                  <th class="text-center">Public Schools</th>
                  <th class="text-center">Public Libraries</th>
                  <th class="text-center">Hospitals and Clinics</th>
                  <th class="text-center">Parks</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">{{d.count_public_schools}}</td>
                  <td class="text-center">{{d.count_libraries}}</td>
                  <td class="text-center">{{d.count_hosp_clinic}}</td>
                  <td class="text-center">{{d.count_parks}}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

        {{#key-indicators class="key-indicators grid-x grid-padding-x" indicators=columns
                          boro=model.boro
                          cd=model.cd
                          borocd=d.borocd as |data|}}
          {{#data.indicator class="indicator cell medium-6 large-12 xlarge-6" name='Poverty'
                            column='poverty_rate'
                            unit='%'
                            cd_stat=d.poverty_rate
                            boro_stat=d.poverty_rate_boro
                            city_stat=d.poverty_rate_nyc}}
            of residents had incomes below the poverty level in the last 12 months
          {{/data.indicator}}
          {{#data.indicator class="indicator cell medium-6 large-12 xlarge-6" name='Educational Attainment'
                            column='pct_bach_deg'
                            unit='%'
                            cd_stat=d.pct_bach_deg
                            boro_stat=d.pct_bach_deg_boro
                            city_stat=d.pct_bach_deg_nyc}}
            of residents 25 years or older have earned a bachelor's degree or higher
          {{/data.indicator}}
          {{#data.indicator class="indicator cell medium-6 large-12 xlarge-6" name='Unemployment'
                            column='unemployment_cd'
                            unit='%'
                            cd_stat=d.unemployment_cd
                            boro_stat=d.unemployment_boro
                            city_stat=d.unemployment_nyc}}
            of the civilian labor force is unemployed
          {{/data.indicator}}
          {{#data.indicator class="indicator cell medium-6 large-12 xlarge-6" name='Crime Rate'
                            column='crime_per_1000'
                            cd_stat=d.crime_per_1000
                            boro_stat=d.crime_per_1000_boro
                            city_stat=d.crime_per_1000_nyc}}
            major crimes were reported per 1,000 residents in 2016
          {{/data.indicator}}
          {{#data.indicator class="indicator cell medium-6 large-12 xlarge-6" name='Mean Commute to Work'
                            column='mean_commute'
                            cd_stat=d.mean_commute
                            boro_stat=d.mean_commute_boro
                            city_stat=d.mean_commute_nyc}}
            minutes
          {{/data.indicator}}
          {{#data.indicator class="indicator cell medium-6 large-12 xlarge-6" name='Rent Burden'
                            column='pct_hh_rent_burd'
                            unit='%'
                            cd_stat=d.pct_hh_rent_burd
                            boro_stat=d.pct_hh_rent_burd_boro
                            city_stat=d.pct_hh_rent_burd_nyc}}
            of households spend 35% or more of their income on rent
          {{/data.indicator}}
          {{#data.indicator class="indicator cell medium-6 large-12 xlarge-6" name='Street Cleanliness'
                            column='pct_clean_strts'
                            unit='%'
                            cd_stat=d.pct_clean_strts
                            boro_stat=d.pct_clean_strts_boro
                            city_stat=d.pct_clean_strts_nyc}}
            of streets were rated "acceptable"on the <a href="https://www1.nyc.gov/site/operations/performance/scorecard-street-sidewalk-cleanliness-ratings.page">Street Cleanliness Scorecard</a> in FY 2016
          {{/data.indicator}}
          {{#data.indicator class="indicator cell medium-6 large-12 xlarge-6" name='Access to Parks'
                            column='pct_served_parks'
                            unit='%'
                            cd_stat=d.pct_served_parks}}
            of residents live within <a href="https://www.nycgovparks.org/planning-and-building/planning/walk-to-a-park">walking distance of a park or open space</a> {{fa-icon "info-circle"}}
          {{/data.indicator}}
        {{/key-indicators}}

        <h4 class="subsection-header"><strong>[Policy Area]</strong></h4>
        <div class="callout">
        </div>

        <h4 class="subsection-header"><strong>[Policy Area]</strong></h4>
        <div class="callout">
        </div>

        <h4 class="subsection-header"><strong>[Policy Area]</strong></h4>
        <div class="callout">
        </div>

        <h4 class="subsection-header"><strong>[Policy Area]</strong></h4>
        <div class="callout">
        </div>

        <h4 class="subsection-header"><strong>[Policy Area]</strong></h4>
        <div class="callout">
        </div>

        <h4 class="subsection-header"><strong>[Policy Area]</strong></h4>
        <div class="callout">
        </div>

        <h4 class="subsection-header"><strong>[Policy Area]</strong></h4>
        <div class="callout">
        </div>

        <h4 class="subsection-header"><strong>[Policy Area]</strong></h4>
        <div class="callout">
        </div>

      </section>

      <section id="built-environment" class="page-section">
        <h3 class="section-header">
          {{#scroll-to offset=-210 href='#built-environment' afterScroll='handleAfterScroll'}}
            Built Environment {{fa-icon "link"}}
          {{/scroll-to}}
        </h3>

        <h4 class="subsection-header"><strong>Land Use</strong></h4>
        <div class="callout">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-6">
              {{land-use-map}}
            </div>
            <div class="cell medium-6">
              {{land-use-chart borocd=model.borocd}}
            </div>
          </div>
        </div>

        <h4 class="subsection-header"><strong>Zoning</strong></h4>
        <div class="callout">
        </div>

        <h4 class="subsection-header"><strong>Facilities</strong></h4>
        <div class="callout">
          {{facilities-section borocd=model.borocd}}
        </div>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6">

            <h4 class="subsection-header"><strong>Housing Pipeline</strong></h4>
            <div class="callout">
            </div>

          </div>
          <div class="cell medium-6">

            <h4 class="subsection-header"><strong>Capital Projects</strong></h4>
            <div class="callout">
            </div>

          </div>
        </div>

      </section>

      <section id="community-board" class="page-section">
        <h3 class="section-header">
          {{#scroll-to offset=-210 href='#community-board' afterScroll='handleAfterScroll'}}
            {{model.boro}} Community Board {{model.cd}} {{fa-icon "link"}}
          {{/scroll-to}}
        </h3>

        <p>
          <a class="button small hollow" href="http://www1.nyc.gov/sicb3">{{fa-icon "external-link"}}&nbsp;<strong>www1.nyc.gov/sicb3</strong></a>
          <a class="button small hollow" href="#">{{fa-icon "envelope"}}&nbsp;<strong>email</strong></a>
        </p>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-7">

            <h4 class="subsection-header"><strong>Perceived Issues</strong></h4>
            <div class="callout">
              <p>These are the top 3 pressing issues identified by the Community Board in the latest <a href="#">Statement of Community District Needs</a>:</p>
              <ul>
                <li><strong>{{d.son_issue_1}}</strong></li>
                <li><strong>{{d.son_issue_2}}</strong></li>
                <li><strong>{{d.son_issue_3}}</strong></li>
              </ul>
            </div>

          </div>
          <div class="cell medium-5">

            <h4 class="subsection-header"><strong>Needs Statements</strong></h4>
            <div class="callout">
              <ul>
                <li><a href="#">Statement of Needs MM/DD/YY</a></li>
                <li><a href="#">Statement of Needs MM/DD/YY</a></li>
                <li><a href="#">Statement of Needs MM/DD/YY</a></li>
                <li><a href="#">Statement of Needs MM/DD/YY</a></li>
                <li><a href="#">Statement of Needs MM/DD/YY</a></li>
              </ul>
            </div>

          </div>
        </div>

      </section>

      <section id="actions" class="page-section">
        <h3 class="section-header">
          {{#scroll-to offset=-210 href='#actions' afterScroll='handleAfterScroll'}}
            Actions {{fa-icon "link"}}
          {{/scroll-to}}
        </h3>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6">

            <h4 class="subsection-header"><strong>LUCATS Applications</strong></h4>
            <div class="callout">
            </div>

          </div>
          <div class="cell medium-6">

            <h4 class="subsection-header"><strong>Neighborhood Studies</strong></h4>
            <div class="callout">
            </div>

          </div>
        </div>

      </section>

      <section id="resources" class="page-section">
        <h3 class="section-header">
          {{#scroll-to offset=-210 href='#resources' afterScroll='handleAfterScroll'}}
            Resources {{fa-icon "link"}}
          {{/scroll-to}}
        </h3>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6">

            <h4 class="subsection-header"><strong>Links to Static Maps (title?)</strong></h4>
            <div class="callout">
            </div>

          </div>
          <div class="cell medium-6">

            <h4 class="subsection-header"><strong>Download the Data</strong></h4>
            <div class="callout">
            </div>

          </div>
        </div>

      </section>

    </div>

    {{outlet}}

  </div>
</div>
