<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell" data-sticky-container>

      <h1 class="district-header">
        <span class="boro">{{model.properties.boro}}</span>
        Community District {{model.properties.cd}}
      </h1>
      <p>
        All about {{model.properties.boro}}:<br/>
        Crime: 0
      </p>

      {{#sticky-element top=97}}
        <ul class="menu section-menu" data-magellan>
          <li>{{scroll-to href='#first' label='First Arrival'}}</li>
          <li>{{scroll-to href='#second' label='Second Arrival'}}</li>
        </ul>
      {{/sticky-element}}

      <section id="first" data-magellan-target="first">
        <h2 class="header-large">Section header</h2>
        <div class="callout">
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
              <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
              <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
              <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            </div>
          </div>
        </div>
        <div class="callout">
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
              <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
              <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
              <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            </div>
          </div>
        </div>
      </section>

      <section id="second" data-magellan-target="second">
        <div class="callout">
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
              <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
              <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
              <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            </div>
          </div>
        </div>
      </section>

      <section class="callout">
        {{land-use-map}}
        {{log model}}
        {{outlet}}
      </section>

    </div>
  </div>
</div>
