<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell" data-sticky-container>

      <div class="district-header">
        <h1 class="district">
          <span class="boro">{{model.properties.boro}}</span>
          Community District {{model.properties.cd}}
        </h1>
        <p class="neighborhoods"><strong>Neighborhoods:</strong> {{model.properties.neighborhoods}}</p>
        <h3>
          Needs: <a href="#">?
            {{#tooltip-on-element duration=50000 event='hover'}}
              These are the top 3 issues which are derived from the Statements of Community District Needs that forms an integral part of the City’s budget process. Read the full Statement of Needs <a href="{{model.properties.dataprofile.cd_son_fy2018}}">here</a>.
            {{/tooltip-on-element}}</a>
        </h3>
      </div>

      <div class="section-menu">
        {{#sticky-element top=97}}
          <ul class="menu">
            <li>{{scroll-to href='#needs' label='Needs'}}</li>
            <li>{{scroll-to href='#land-use' label='Land Use'}}</li>
          </ul>
        {{/sticky-element}}
      </div>

      {{log model.properties.dataprofile}}

      <section id="needs" class="page-section">
        <h3>Top 3 Community Needs</h3>
        <div class="callout">
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="cell medium-auto">
                <ul>
                  <li>{{model.properties.dataprofile.son_issue_1}}</li>
                  <li>{{model.properties.dataprofile.son_issue_2}}</li>
                  <li>{{model.properties.dataprofile.son_issue_3}}</li>
                </ul>
              </div>
              <div class="cell medium-auto">
                <a class="button" href="{{model.properties.dataprofile.cd_son_fy2018}}" download="cd_son_fy2018.pdf">Download Full Statement of Needs</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="land-use" class="page-section">
        <h3>Land Use</h3>
        <div class="callout">
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="cell medium-6">
                {{land-use-map}}
              </div>
              <div class="cell medium-6">
                {{land-use-chart borocd=model.properties.borocd}}
              </div>
            </div>
          </div>
        </div>
      </section>

      {{outlet}}

    </div>
  </div>
</div>
