<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell">

      <h1 class="district-header">
        <span class="boro">{{model.properties.boro}}</span>
        Community District {{model.properties.cd}}
      </h1>
      <h3>
        Top 3 needs:
      </h3>
      <p>
        {{model.properties.dataprofile.son_issue_1}}, {{model.properties.dataprofile.son_issue_2}}, {{model.properties.dataprofile.son_issue_3}}
      </p>

      <section class="callout">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
          </div>
        </div>
      </section>

      <section class="callout">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
            <div class="cell medium-3"><img src="http://via.placeholder.com/400"></div>
          </div>
        </div>
      </section>

      <section class="callout">
        {{land-use-map}}
        {{log model}}
        {{outlet}}
      </section>

    </div>
  </div>
</div>
