<div class="grid-x grid-padding-x">
  <div class="cell">

    <div class="district-header">
      <h1>
        <a href="#main" onClick={{action 'handleAfterScroll'}}>
          {{model.boro}} Community District {{model.cd}}
        </a>
      </h1>
      <div class="section-menu hide-for-print">
        <ul class="menu">
          <li><a onClick={{action 'handleAfterScroll'}} href="#indicators">Indicators</a></li>
          <li><a onClick={{action 'handleAfterScroll'}} href='#built-environment'>Built Environment</a></li>
          <li><a onClick={{action 'handleAfterScroll'}} href='#floodplain'>Floodplain</a></li>
          <li><a onClick={{action 'handleAfterScroll'}} href='#community-board'>Community Board</a></li>
          <li><a onClick={{action 'handleAfterScroll'}} href='#projects'>Projects</a></li>
          <li><a onClick={{action 'handleAfterScroll'}} href='#resources'>Resources</a></li>
        </ul>
      </div>
    </div>

    <div class="district-content">
      <div class="neighborhoods-list">
        {{model.neighborhoods}}
      </div>

      <section class="page-section">
        <hr class="hide-for-large"><br class="show-for-large">

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6 large-12 xlarge-7">

            <h4 class="subsection-header"><strong>Population</strong></h4>
            <div class="callout">
              <div class="grid-x grid-margin-x align-middle">
                <div class="cell small-6 large-4 text-center">
                  <span class="stat">{{numeral-format d.pop_2000 '0.0a'}}</span>
                  <span class="stat-footer">2000 Census</span>
                </div>
                <div class="cell small-6 large-4 text-center">
                  <span class="stat">{{numeral-format d.pop_2010 '0.0a'}}</span>
                  <span class="stat-footer">2010 Census <small class="dark-gray">({{numeral-format d.pop_change_00_10 '+0%'}})</small></span>
                </div>
                <div class="cell small-12 large-4 text-center cell-divider--population">
                  <span class="lead">
                    {{#if d.shared_puma}}
                      N/A
                    {{else}}
                      {{numeral-format d.pop_11_15_acs '0.0a'}}
                    {{/if}}
                  </span>
                  <small class="stat-footer">2011-2015 Estimate {{info-tooltip tip="American Community Survey 5-year Estimates. Population estimate is N/A for districts that share a PUMA; data cannot be reliably disaggregated."}}</small>
                </div>
              </div>
            </div>

            <h4 class="subsection-header"><strong>Population by Age {{info-tooltip tip=d.acs_tooltip}}</strong></h4>
            <div class="callout">
              {{age-pyramid data=agePopDist}}
            </div>

          </div>
          <div class="cell medium-6 large-12 xlarge-5">

            <div class="grid-x grid-padding-x">
              <div class="cell large-6 xlarge-12">

                <h4 class="subsection-header"><strong>Area &amp; Density {{info-tooltip tip="Density is calculated using 2010 Census population. Density may vary drastically within a community district."}}</strong></h4>
                <div class="callout text-center">
                  <div class="grid-x grid-margin-x align-middle">
                    <div class="cell small-6 -large-12">
                      <span class="stat">{{numeral-format d.area_sqmi '0.0'}}</span>
                      <span class="stat-footer">square miles</span>
                    </div>
                    <div class="cell small-6 -large-12 cell-divider--density">
                      <span class="lead">{{numeral-format popDensity '0,0'}}</span>
                      <small class="stat-footer">persons per sq mi</small>
                    </div>
                  </div>
                </div>

              </div>
              <div class="cell large-6 xlarge-8">

                <h4 class="subsection-header"><strong>Foreign-Born Population {{info-tooltip tip=d.acs_tooltip}}</strong></h4>
                <div class="callout text-center">
                  <span class="stat">
                    {{numeral-format d.pct_foreign_born '0.0'}}%
                  </span>
                  <small class="stat-footer">of residents are <a href="https://www.census.gov/topics/population/foreign-born/about.html" target="_blank">foreign-born</a></small>
                </div>

              </div>
              <div class="cell xlarge-10">

                <h4 class="subsection-header"><strong>Race &amp; Hispanic Origin {{info-tooltip tip=d.acs_tooltip}}</strong></h4>
                <div class="callout">
                  {{horizontal-bar data=racialProfile height=150 barLabel=false xMax=100}}
                </div>

              </div>
            </div>

          </div>
        </div>
      </section>

      <section class="page-section">
        <a id="indicators" class="offset-anchor"></a>
        <h3 class="section-header">
          <a onClick={{action 'handleAfterScroll'}} href='#indicators'>{{fa-icon "bar-chart"}} Indicators</a>
        </h3>

        <div class="grid-x grid-padding-x align-bottom">
          <div class="cell medium-8 xlarge-9">
            <p class="section-header-description">The information below provides a snapshot of key socio-economic, demographic, and select service performance indicators. To provide further context, the selected district is displayed in comparison to all 59 community districts; where available, borough and City benchmarks are provided. The entire set of indicators may be downloaded in the Resources section below.</p>
          </div>
          <div class="cell medium-4 xlarge-3 medium-text-right">
            <span class="chart-legend">
              <span class="estimate"></span>&nbsp;Estimate
              &nbsp;
              <span class="moe"></span>&nbsp;Margin of Error
            </span>
          </div>
         </div>

        {{#key-indicators class="key-indicators"
                          indicators=columns
                          boro=model.boro
                          cd=model.cd
                          borocd=d.borocd as |data|}}
          {{#data.indicator class="indicator" name='Age Under 18'
                            column='under18_rate'
                            moe='moe_under18_rate'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.under18_rate
                            boro_stat=d.under18_rate_boro
                            city_stat=d.under18_rate_nyc}}
            of residents are under the age&nbsp;of&nbsp;18
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Age 65 & Over'
                            column='over65_rate'
                            moe='moe_over65_rate'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.over65_rate
                            boro_stat=d.over65_rate_boro
                            city_stat=d.over65_rate_nyc}}
            of residents are age 65 and over
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Rent Burden'
                            column='pct_hh_rent_burd'
                            moe='moe_hh_rent_burd'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.pct_hh_rent_burd
                            boro_stat=d.pct_hh_rent_burd_boro
                            city_stat=d.pct_hh_rent_burd_nyc}}
            of households <a href="https://www.census.gov/topics/housing/about.html" target="_blank">spend 35% or more of their income on&nbsp;rent</a>
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Access to Parks'
                            column='pct_served_parks'
                            unit='%'
                            tip='New York City Department of Parks & Recreation, 2016. DPR considers walking distance to be 1/4 mile for parks less than 6 acres, and 1/2 mile for larger parks and pools.'
                            cd_stat=d.pct_served_parks}}
            of residents live within <a href="https://www.nycgovparks.org/planning-and-building/planning/walk-to-a-park" target="_blank">walking distance of a park or open space</a>
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Mean Commute to Work'
                            column='mean_commute'
                            moe='moe_mean_commute'
                            tip=d.acs_tooltip
                            cd_stat=d.mean_commute
                            boro_stat=d.mean_commute_boro
                            city_stat=d.mean_commute_nyc}}
            <a href="https://www.census.gov/topics/employment/commuting/about.html" target="_blank">minutes</a>
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Street Cleanliness'
                            column='pct_clean_strts'
                            unit='%'
                            tip='New York City Department of Sanitation, 2017'
                            cd_stat=d.pct_clean_strts
                            boro_stat=d.pct_clean_strts_boro
                            city_stat=d.pct_clean_strts_nyc}}
            of streets rated "acceptable" on the <a href="https://www1.nyc.gov/site/operations/performance/scorecard-street-sidewalk-cleanliness-ratings.page" target="_blank">Street Cleanliness Scorecard</a> in FY&nbsp;2016
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Crime'
                            column='crime_count'
                            tip='NYPD Complaint Data, 2016. NYPD classifies seven crimes as major felonies: murder, rape, robbery, felony assault, burglary, grand larceny, and grand larceny of a motor vehicle.'
                            cd_stat=d.crime_count
                            numeral_format=0
                            boro_stat=d.crime_count_boro
                            city_stat=d.crime_count_nyc}}
            <a href="https://maps.nyc.gov/crime/" target="_blank">major felonies</a> were reported in&nbsp;2016
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Educational Attainment'
                            column='pct_bach_deg'
                            moe='moe_bach_deg'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.pct_bach_deg
                            boro_stat=d.pct_bach_deg_boro
                            city_stat=d.pct_bach_deg_nyc}}
            of residents age 25 years and over have <a href="https://www.census.gov/topics/education/educational-attainment/about.html" target="_blank">earned a bachelor's degree or&nbsp;higher</a>
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Limited English Proficiency'
                            column='lep_rate'
                            moe='moe_lep_rate'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.lep_rate
                            boro_stat=d.lep_rate_boro
                            city_stat=d.lep_rate_nyc}}
            of residents self-identify as having <a href="https://www.census.gov/topics/population/language-use/about.html" target="_blank">limited English&nbsp;proficiency</a>
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Unemployment'
                            column='unemployment_cd'
                            moe='moe_unemployment_cd'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.unemployment_cd
                            boro_stat=d.unemployment_boro
                            city_stat=d.unemployment_nyc}}
            of the <a href="https://www.census.gov/topics/employment/labor-force.html" target="_blank">civilian labor force is unemployed</a>
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Poverty'
                            column='poverty_rate'
                            moe='moe_poverty_rate'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.poverty_rate
                            boro_stat=d.poverty_rate_boro
                            city_stat=d.poverty_rate_nyc}}
            of residents have <a href="https://www.census.gov/topics/income-poverty/poverty.html" target="_blank">incomes below the poverty&nbsp;level</a>
          {{/data.indicator}}
        {{/key-indicators}}

      </section>

      <section class="page-section">
        <a id="built-environment" class="offset-anchor"></a>
        <h3 class="section-header">
          <a onClick={{action 'handleAfterScroll'}} href='#built-environment'>{{fa-icon "building"}} Built Environment</a>
        </h3>
        <p class="section-header-description">This section offers a survey of the land uses that currently exist in each district, the zoning that will guide its development, and the public facilities that serve its residents. To find out more about land use and zoning in New York City, visit <a href="http://maps.nyc.gov/doitt/nycitymap/template?applicationName=ZOLA" target="_blank">ZoLa</a> or download the full Primary Land Use Tax Lot Output (PLUTO) and MapPLUTO <a href="https://www1.nyc.gov/site/planning/data-maps/open-data.page" target="_blank">datasets</a>. For more detailed information on New York City’s public facilities, visit the <a href="http://capitalplanning.nyc/facilities" target="_blank">NYC Facilities Explorer</a>.</p>

        <h4 class="subsection-header"><strong>Land Use {{info-tooltip tip="Primary Land Use Tax Lot Output (PLUTO) release 16v2. Chart provides total lot area by land use type according to NYC Department of Finance lot measurements."}}</strong></h4>
        <div class="callout">
          <div class="grid-x grid-padding-x-small">
            <div class="cell medium-6 large-7">
              {{land-use-map}}
            </div>
            <div class="cell medium-6 large-5 cell-medium-padded-left cell-small-only-padded-top">
              {{land-use-chart borocd=model.borocd}}
            </div>
          </div>
        </div>

        <h4 class="subsection-header"><strong>Zoning {{info-tooltip tip="Chart shows area distribution of the three zoning designations&mdash;residence, commercial, and manufacturing&mdash;as well as park area."}}</strong></h4>
        <div class="callout">
          <div class="grid-x grid-padding-x-small align-middle">
            <div class="cell medium-6 large-7">
              {{zoning-map borocd=model.borocd}}
            </div>
            <div class="cell medium-6 large-5 cell-medium-padded-left cell-small-only-padded-top">
              {{zoning-chart
                  height=140
                  borocd=model.borocd
                  data=zoningData.value
                  loading=zoningData.isRunning}}
              <hr/>
              <p class="text-center">Learn more about zoning and land use in <a href="http://maps.nyc.gov/zola/" target="_blank">{{fa-icon "external-link"}}&nbsp;ZoLa</a></p>
            </div>
          </div>
        </div>

        <h4 class="subsection-header"><strong>Facilities</strong> {{info-tooltip tip="Click on a facility to view additional details on the NYC Facilities Explorer."}}</h4>
        <div class="callout">
          {{facilities-section borocd=model.borocd}}
        </div>

        <h4 class="subsection-header"><strong>Community Assets {{info-tooltip tip="Facility types are derived from City Planning’s Selected Facilities Database. To view location of facilities use NYC’s Facilities Explorer above."}}</strong></h4>
        <div class="grid-x grid-padding-x">
          <div class="cell medium-3 large-6 xlarge-3">
            <div class="callout text-center">
              <span class="stat"><span class="dark-gray">{{fa-icon "graduation-cap"}}</span>&nbsp;{{d.count_public_schools}}</span><br>
              Public Schools {{info-tooltip tip='Public elementary, middle, high, and special education schools. Public schools identified may serve multiple community districts.'}}
            </div>
          </div>
          <div class="cell medium-3 large-6 xlarge-3">
            <div class="callout text-center">
              <span class="stat"><span class="dark-gray">{{fa-icon "book"}}</span>&nbsp;{{d.count_libraries}}</span><br>
              Public Libraries {{info-tooltip tip='All public libraries'}}
            </div>
          </div>
          <div class="cell medium-3 large-6 xlarge-3">
            <div class="callout text-center">
              <span class="stat"><span class="dark-gray">{{fa-icon "hospital-o"}}</span>&nbsp;{{d.count_hosp_clinic}}</span><br>
              Hospitals and Clinics {{info-tooltip tip='Urgent care hospitals, diagnostic and treatment centers, and school-based health facilities'}}
            </div>
          </div>
          <div class="cell medium-3 large-6 xlarge-3">
            <div class="callout text-center">
              <span class="stat"><span class="dark-gray">{{fa-icon "tree"}}</span>&nbsp;{{d.count_parks}}</span><br>
              Parks {{info-tooltip tip='Flagship parks, community parks, state parks, and city-state parks'}}
            </div>
          </div>
        </div>
      </section>

      <section class="page-section">
        <a id="floodplain" class="offset-anchor"></a>
        <h3 class="section-header">
          <a onClick={{action 'handleAfterScroll'}} href='#floodplain'>{{fa-icon "tint"}} Floodplain</a>
        </h3>
        <div class="grid-x grid-padding-x">
          <div class="cell large-8">
            <p class="section-header-description">The information below details the people and built environment within NYC’s floodplain, showing the risk and key characteristics that influence the ability of a neighborhood to adapt. The current floodplain is based on FEMA 2015 Preliminary Flood Insurance Rate Maps (PFIRM). The 2050s floodplain is based on FEMA’s Preliminary Flood Insurance Rate Map data and the New York City Panel on Climate Change’s 90th Percentile Projections for Sea-Level Rise in the 2050s. For more information on City Planning’s resiliency work program, visit <a href="http://nyc.gov/resilientneighborhoods" target="_blank">Resilient Neighborhoods</a>.</p>
          </div>
        </div>

        <h4 class="subsection-header"><strong>Current &amp; 2050s Floodplain</strong></h4>
        <div class="callout">
          <div class="grid-x grid-padding-x-small">
            <div class="cell xlarge-6">
              {{waterfront-map}}
            </div>
            <div class="cell xlarge-6 cell-xlarge-padded-left cell-large-down-padded-top">
              <div class="floodplain-table-container">
                <table class="text-small no-margin">
                  <thead>
                    <tr>
                      <th>Indicators {{info-tooltip tip=d.acs_tooltip}}</th>
                      <th style="background-color: #99CCEE;">Current Floodplain</th>
                      <th style="background-color: #EDCD85;">2050s Floodplain</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>2010 Population</td>
                      <td>
                        {{#if d.future_fp_pop}}
                          {{if (gte d.current_fp_pop 1000) (numeral-format d.current_fp_pop '0.0a') (numeral-format d.current_fp_pop '0')}}
                        {{else}}
                          n/a
                        {{/if}}
                      </td>
                      <td>
                        {{#if d.future_fp_pop}}
                          {{if (gte d.current_fp_pop 1000) (numeral-format d.future_fp_pop '0.0a') (numeral-format d.future_fp_pop '0')}}
                        {{else}}
                          n/a
                        {{/if}}
                      </td>
                    </tr>
                    <tr>
                      <td>Land Mass</td>
                      <td>{{if d.current_fp_area (concat (numeral-format d.current_fp_area '0.00') ' sq mi') 'n/a'}}</td>
                      <td>{{if d.future_fp_area (concat (numeral-format d.future_fp_area '0.00') ' sq mi') 'n/a'}}</td>
                    </tr>
                    <tr>
                      <td>Median Household Income</td>
                      {{#if (eq d.current_fp_mhhi 200000)}}
                        <td>$200,000+</td>
                      {{else}}
                        <td>{{if d.current_fp_mhhi (numeral-format d.current_fp_mhhi '$0,0') 'n/a'}}</td>
                      {{/if}}
                      <td>{{if d.future_fp_mhhi (numeral-format d.future_fp_mhhi '$0,0') 'n/a'}}</td>
                    </tr>
                    <tr>
                      <td>Open Space Area</td>
                      <td>{{if d.current_fp_openspace (concat d.current_fp_openspace ' sq mi') 'n/a'}}</td>
                      <td>{{if d.future_fp_openspace (concat d.future_fp_openspace ' sq mi') 'n/a'}}</td>
                    </tr>
                    <tr>
                      <td>Total Units Owner Occupied</td>
                      <td>{{if d.current_fp_ownerocc (numeral-format d.current_fp_ownerocc '(0.00%)') 'n/a'}}</td>
                      <td>{{if d.future_fp_ownerocc (numeral-format d.future_fp_ownerocc '(0.00%)') 'n/a'}}</td>
                    </tr>
                    <tr>
                      <td>Owner Occupied Units with Mortgages</td>
                      <td>{{if d.current_fp_permortg (numeral-format d.current_fp_permortg '(0.00%)') 'n/a'}}</td>
                      <td>{{if d.future_fp_permortg (numeral-format d.future_fp_permortg '(0.00%)') 'n/a'}}</td>
                    </tr>
                    <tr>
                      <td>Renter Occupied Units Cost Burdened</td>
                      <td>{{if d.current_fp_rent_burden (numeral-format d.current_fp_rent_burden '(0.00%)') 'n/a'}}</td>
                      <td>{{if d.future_fp_rent_burden (numeral-format d.future_fp_rent_burden '(0.00%)') 'n/a'}}</td>
                    </tr>
                    <tr>
                      <td>Owner Occupied Units Cost Burdened</td>
                      <td>{{if d.current_fp_cost_burden (numeral-format d.current_fp_cost_burden '(0.00%)') 'n/a'}}</td>
                      <td>{{if d.future_fp_cost_burden (numeral-format d.future_fp_cost_burden '(0.00%)') 'n/a'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p class="text-center no-margin">Learn more with the <a href="http://dcp.maps.arcgis.com/apps/webappviewer/index.html?id=1c37d271fba14163bbb520517153d6d5" target="_blank">{{fa-icon "external-link"}} NYC Flood Hazard Mapper</a></p>
            </div>
          </div>
        </div>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6 large-6 xlarge-5">
            <h4 class="subsection-header"><strong>Buildings in Floodplain {{info-tooltip tip="Counts of buildings on lots that intersect with the 2015 PFIRM"}}</strong></h4>
            <div class="callout text-center">
              {{#building-type-chart property='numbldgs' borocd=model.borocd as |chart|}}
                <p>
                  <span class="stat">
                    {{#if (await chart.data) as |data|}}
                      {{numeral-format (reduce (action 'sum') 0 (map-by 'value' data)) '0,0'}}
                    {{/if}}
                  </span>
                  <span class="stat-footer">buildings are in the current floodplain</span>
                </p>
              {{/building-type-chart}}
              <hr>
              <span class="chart-legend">
                <span class="nobreak"><span class="total"></span> Total Buildings</span>
                &nbsp;
                <span class="nobreak"><span class="percent"></span> Within Floodplain</span>
              </span>
              {{resiliency-chart
                  column='cd_tot_bldgs'
                  overlayColumn='current_fp_bldg'
                  numeral_format='0,0'
                  borocd=model.borocd}}
            </div>
          </div>
          <div class="cell medium-6 large-6 xlarge-5">
            <h4 class="subsection-header"><strong>Dwelling Units in Floodplain {{info-tooltip tip="Counts of residential units on lots that intersect with the 2015 PFIRM"}}</strong></h4>
            <div class="callout text-center">
              {{#building-type-chart property='unitsres' borocd=model.borocd as |chart|}}
                <p>
                  <span class="stat">
                    {{#if (await chart.data) as |data|}}
                      {{numeral-format (reduce (action 'sum') 0 (map-by 'value' data)) '0,0'}}
                    {{/if}}
                  </span>
                  <span class="stat-footer">dwelling units are in the current floodplain</span>
                </p>
              {{/building-type-chart}}
              <hr>
              <span class="chart-legend">
                <span class="nobreak"><span class="total"></span>&nbsp;Total Units</span>
                &nbsp;
                <span class="nobreak"><span class="percent"></span>&nbsp;Within Floodplain</span>
              </span>
              {{resiliency-chart
                  column='cd_tot_resunits'
                  overlayColumn='current_fp_resunits'
                  numeral_format='0,0'
                  borocd=model.borocd
                  unit='units'}}
            </div>
          </div>
          <div class="cell medium-6 xlarge-4">
            <h4 class="subsection-header"><strong>Age of Buildings in Floodplain {{info-tooltip tip="Counts of buildings on lots that intersect with the 2015 PFIRM"}}</strong></h4>
            <div class="callout">
              <p class="text-small">These counts are grouped based on {{#link-to 'about' (query-params section='floodplain')}}important dates{{/link-to}} in the history of NYC’s land-use and floodplain regulation.</p>
              {{building-age-chart borocd=model.borocd}}
            </div>
          </div>
          <div class="cell medium-6 xlarge-4">
            <h4 class="subsection-header"><strong>Basements in Floodplain {{info-tooltip tip="Counts of buildings with basements that intersect with the 2015 PFIRM"}}</strong></h4>
            <div class="callout">
              <p class="text-small">Basements are highly vulnerable to flooding and can lead to higher retrofitting costs.</p>
              {{subgrade-chart borocd=model.borocd}}
            </div>
          </div>
          <div class="cell medium-6 xlarge-4">
            <h4 class="subsection-header"><strong>Residential Buildings by Adjacency {{info-tooltip tip="Counts of adjacent buildings that intersect with the 2015 PFIRM"}}</strong></h4>
            <div class="callout">
              <p class="text-small">Buildings that are fully or partially attached are harder to elevate or retrofit to minimize flood risk.</p>
              {{subgrade-chart datasetName='building_adjacency' borocd=model.borocd}}
            </div>
          </div>
        </div>
      </section>

      <section class="page-section">
        <a id="community-board" class="offset-anchor"></a>
        <h3 class="section-header">
          <a onClick={{action 'handleAfterScroll'}} href='#community-board'>{{fa-icon "group"}} Community Board Perspectives</a>
        </h3>
        <p class="section-header-description">Community boards are liaisons between district residents and City government, charged with advocating for their districts’ unique priorities in collaboration with city agencies. To learn more about the issues affecting your district, view the most recent Statement of Community District Needs. Want to get involved? Visit your community board’s website or email them directly.</p>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-3">

            <h4 class="subsection-header"><strong>{{model.boro}} Community Board&nbsp;{{model.cd}}</strong></h4>
            <p>
              <a class="button small hollow expanded {{if model.dataprofile.cb_website '' 'disabled'}}" href="{{add-http model.dataprofile.cb_website}}" target="_blank">
                {{fa-icon "external-link"}}&nbsp;<strong>website</strong>
              </a>
              <a class="button small hollow expanded {{if model.dataprofile.cb_email '' 'disabled'}}" href="mailto:{{model.dataprofile.cb_email}}">{{fa-icon "envelope"}}&nbsp;<strong>email</strong></a>
            </p>

          </div>
          <div class="cell medium-9">

            <h4 class="subsection-header"><strong>Statement of Community District Needs {{info-tooltip tip="NYC Charter mandates that community boards annually prepare a Statement of Community District Needs and submit budget priorities each fiscal year."}}</strong></h4>
            <div class="callout">
              <div class="grid-x grid-margin-x">
                <div class="cell xlarge-6">
                  <p>These are the top 3 pressing issues perceived and identified by {{model.boro}} Community Board&nbsp;{{model.cd}} in the latest needs statement:</p>
                  {{#if noSON}}
                    <p>This community board did not provide a statement of needs.</p>
                  {{else}}
                  <ul>
                    <li class="list-item-padded"><strong class="header-small">{{d.son_issue_1}}</strong></li>
                    <li class="list-item-padded"><strong class="header-small">{{d.son_issue_2}}</strong></li>
                    <li class="list-item-padded"><strong class="header-small">{{d.son_issue_3}}</strong></li>
                  </ul>
                  {{/if}}
                </div>
                <div class="cell xlarge-6 relative">
                  {{needs-statements district=model}}
                </div>
              </div>
            </div>

          </div>
        </div>

      </section>

      <section class="page-section">
        <a id="projects" class="offset-anchor"></a>
        <h3 class="section-header">
          <a onClick={{action 'handleAfterScroll'}} href='#projects'>{{fa-icon "calendar"}} Projects</a>
        </h3>
        <p class="section-header-description">The following section contains information on active and completed land use plans and proposals, ongoing or concluded neighborhood studies, and community-based plans for each district. Click on an application below to view more details, or visit the <a href="http://www1.nyc.gov/site/planning/applicants/applicant-portal/application-process.page" target="_blank">LUCATS website</a> to learn more about the land use application process. Learn more about community-based planning by visiting our <a href="http://www1.nyc.gov/site/planning/community/community-based-planning.page" target="_blank">website</a>.</p>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6 large-8 xlarge-7">

            <h4 class="subsection-header"><strong>Land Use Applications {{info-tooltip tip="Application records are pulled from LUCATS, City Planning’s web application for land use (ULURP) and CEQR application records."}}</strong></h4>
            <div class="callout">
              {{lucats-list district=model}}
            </div>

          </div>
          <div class="cell medium-6 large-4 xlarge-5">
            <h4 class="subsection-header"><strong>Neighborhood Studies &amp; Plans {{info-tooltip tip="Place-based planning studies inform the use and development of land in the City’s neighborhoods, business districts, and waterfront through participatory planning and zoning changes."}}</strong></h4>
            <div class="callout">
              {{studies-and-plans district=model}}
            </div>

            <h4 class="subsection-header"><strong>197&#8209;a Plans</strong> {{info-tooltip tip="A formal way to develop a community-based plan is set out in Section 197-a of the City Charter."}}</h4>
            <div class="callout">
              {{197a-plans district=model}}
            </div>

            <h4 class="subsection-header"><strong>City Planning Commission Decisions {{info-tooltip tip="City Planning Commission (CPC) Reports are the official records of actions taken by the CPC"}}</strong></h4>
            <div class="callout">
              <a class="button small hollow expanded" target="_blank" href="http://a030-cpc.nyc.gov/html/cpc/index.aspx?boro_link={{model.boroAcronymLowerCase}}&cd_link={{model.cd}}">{{fa-icon "external-link"}} <strong>{{model.boro}} Community District {{model.cd}} CPC Reports</strong></a>
            </div>

            <h4 class="subsection-header"><strong>Building Information &amp; Permits {{info-tooltip tip="NYC Department of Buildings Building Information Search"}}</strong></h4>
            <div class="callout">
              <a class="button small hollow expanded no-margin" href="http://a810-bisweb.nyc.gov/bisweb/bispi00.jsp" target="_blank">{{fa-icon "external-link"}} <strong>Search BISweb</strong></a>
            </div>
          </div>
        </div>

      </section>

      <section class="page-section">
        <a id="resources" class="offset-anchor"></a>
        <h3 class="section-header">
          <a onClick={{action 'handleAfterScroll'}} href='#resources'>{{fa-icon "files-o"}} Resources</a>
        </h3>
        <p class="section-header-description">This section provides helpful planning resources like reference maps, additional Census data, and links to other community profiles. A one-page summary version of each district’s profile is available as a PDF. The data referenced in these interactive profiles are available for download.</p>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-3 xlarge-4">
            <h4 class="subsection-header"><strong>Reference Maps</strong></h4>
            <div class="callout">
              <ul class="no-bullet">
                <li class="list-item-padded"><a target="_blank" href="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/NYCPlanning/labs-cd-files/master/basemaps/{{model.borocdAcronymLowerCase}}_landuse.pdf">{{fa-icon "file-pdf-o"}} <strong>Land Use</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/NYCPlanning/labs-cd-files/master/censustracts/{{model.borocdAcronymLowerCase}}_censustracts.pdf">{{fa-icon "file-pdf-o"}} <strong>Census Tracts</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/NYCPlanning/labs-cd-files/master/landuse/{{model.borocdAcronymLowerCase}}_basemap.pdf">{{fa-icon "file-pdf-o"}} <strong>Basemaps</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/NYCPlanning/labs-cd-files/master/politicaldistricts/{{model.boroAcronymLowerCase}}_politicaldistricts.pdf">{{fa-icon "file-pdf-o"}} <strong>Political Districts</strong></a></li>
              </ul>
            </div>

            <h4 class="subsection-header"><strong>Additional Census Data {{info-tooltip tip="Census data are available at the community district level, while American Community Survey data are available at the Public Use Microdata Area (PUMA) level. PUMAs are approximations of community districts, and some PUMAs include two districts. See the CD/PUMA Comparison Map for more information."}}</strong></h4>
            <div class="callout">
              <ul class="no-bullet">
                <li class="list-item-padded"><a target="_blank" href="http://www1.nyc.gov/assets/planning/download/pdf/data-maps/nyc-population/census2010/puma_cd_map.pdf">{{fa-icon "file-pdf-o"}} <strong>CD/PUMA Comparison Map</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="http://maps.nyc.gov/census/">{{fa-icon "external-link"}} <strong>NYC Census FactFinder</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="http://www1.nyc.gov/site/planning/data-maps/nyc-population/american-community-survey.page">{{fa-icon "external-link"}} <strong>American Community Survey (ACS) Data</strong></a></li>
                <li class="list-item-padded"><a target="_blank" href="http://www1.nyc.gov/site/planning/data-maps/nyc-population/census-2010.page">{{fa-icon "external-link"}} <strong>Decennial Census Data</strong></a></li>
              </ul>
            </div>
          </div>
          <div class="cell medium-3 xlarge-4">
            <h4 class="subsection-header"><strong>New York City Community Health Profile {{info-tooltip tip="The New York City Community Health Profiles illustrate how neighborhood social and economic conditions influence health outcomes in each community district."}}</strong></h4>
            <div class="callout">
              <a class="button small hollow expanded" target="_blank" href="{{model.healthProfileLink}}">{{fa-icon "file-pdf-o"}} <strong>{{model.boro}} Community District {{model.cd}} Health Profile</strong></a>
            </div>
            <h4 class="subsection-header"><strong>Summary Community District Profile {{info-tooltip tip="Download a one-page PDF version of this community district profile designed for printing."}}</strong></h4>
            <div class="callout">
              <a class="button small hollow expanded" target="_blank" href="https://raw.githubusercontent.com/NYCPlanning/labs-cd-files/master/static-profiles/{{model.borocdAcronymLowerCase}}_profile.pdf">{{fa-icon "file-pdf-o"}} <strong>{{model.boro}} Community District {{model.cd}} Summary Profile</strong></a>
            </div>
          </div>
          <div class="cell medium-5 xlarge-4">
            <h4 class="subsection-header"><strong>Download the Data</strong></h4>
            <div class="callout">
              <a class="button small hollow expanded" href="https://carto.planninglabs.nyc/user/data/api/v2/sql?format=csv&q=SELECT%20borocd,cd_full_title,cd_short_title,shared_puma,shared_puma_cd,puma,acres,area_sqmi,pop_2000,pop_2010,pop_change_00_10,pop_11_15_acs,poverty_rate,moe_poverty_rate,poverty_rate_boro,moe_poverty_rate_boro,poverty_rate_nyc,moe_poverty_rate_nyc,pct_bach_deg,moe_bach_deg,pct_bach_deg_boro,moe_bach_deg_boro,pct_bach_deg_nyc,moe_bach_deg_nyc,unemployment_cd,moe_unemployment_cd,unemployment_boro,moe_unemployment_boro,unemployment_nyc,moe_unemnployment,mean_commute,moe_mean_commute,mean_commute_boro,moe_mean_commute_boro,mean_commute_nyc,moe_mean_commute_nyc,pct_hh_rent_burd,moe_hh_rent_burd,pct_hh_rent_burd_boro,moe_hh_rent_burd_boro,pct_hh_rent_burd_nyc,moe_hh_rent_burd_nyc,pct_clean_strts,pct_clean_strts_boro,pct_clean_strts_nyc,crime_per_1000,crime_per_1000_boro,crime_per_1000_nyc,crime_count,crime_count_boro,crime_count_nyc,count_parks,count_hosp_clinic,count_libraries,count_public_schools,pct_served_parks,lots_res_1_2_family_bldg,lots_res_multifamily_walkup,lots_res_multifamily_elevator,lots_mixed_use,lots_commercial_office,lots_industrial_manufacturing,lots_transportation_utility,lots_public_facility_institution,lots_open_space,lots_parking,lots_vacant,lots_other_no_data,lots_total,lot_area_res_1_2_family_bldg,pct_lot_area_res_1_2_family_bldg,lot_area_res_multifamily_walkup,pct_lot_area_res_multifamily_walkup,lot_area_res_multifamily_elevator,pct_lot_area_res_multifamily_elevator,lot_area_mixed_use,pct_lot_area_mixed_use,lot_area_commercial_office,pct_lot_area_commercial_office,lot_area_industrial_manufacturing,pct_lot_area_industrial_manufacturing,lot_area_transportation_utility,pct_lot_area_transportation_utility,lot_area_public_facility_institution,pct_lot_area_public_facility_institution,lot_area_open_space,pct_lot_area_open_space,lot_area_parking,pct_lot_area_parking,lot_area_vacant,pct_lot_area_vacant,lot_area_other_no_data,pct_lot_area_other_no_data,total_lot_area,cd_son_fy2018,son_issue_1,son_issue_2,son_issue_3,neighborhoods,acs_tooltip,pct_foreign_born,moe_foreign_born,lep_rate,moe_lep_rate,lep_rate_boro,moe_lep_rate_boro,lep_rate_nyc,moe_lep_rate_nyc,under18_rate,moe_under18_rate,under18_rate_boro,moe_under18_rate_boro,under18_rate_nyc,moe_under18_rate_nyc,over65_rate,moe_over65_rate,over65_rate_boro,moe_over65_rate_boro,over65_rate_nyc,moe_over65_rate_nyc,male_under_5,female_under_5,male_5_9,female_5_9,male_10_14,female_10_14,male_15_19,female_15_19,male_20_24,female_20_24,male_25_29,female_25_29,male_30_34,female_30_34,male_35_39,female_35_39,male_40_44,female_40_44,male_45_49,female_45_49,male_50_54,female_50_54,male_55_59,female_55_59,male_60_64,female_60_64,male_65_69,female_65_69,male_70_74,female_70_74,male_75_79,female_75_79,male_80_84,female_80_84,male_85_over,female_85_over,pct_white_nh,pct_black_nh,pct_asian_nh,pct_other_nh,pct_hispanic,current_fp_pop,future_fp_pop,current_fp_area,future_fp_area,current_fp_bldg,cd_tot_bldgs,current_fp_resunits,cd_tot_resunits,current_fp_openspace,future_fp_openspace,current_fp_mhhi,future_fp_mhhi,current_fp_ownerocc,future_fp_ownerocc,current_fp_permortg,future_fp_permortg,current_fp_rent_burden,future_fp_rent_burden,cb_website,cb_email FROM community_district_profiles&filename={{model.boro}}-{{model.cd}}-indicators.csv">{{fa-icon "download"}}&nbsp;<strong>Indicators Data</strong> <small>(CSV)</small></a>
              <a class="button small hollow expanded" href="/data/cd_profile_data_dictionary.csv">{{fa-icon "download"}}&nbsp;<strong>Indicators Data Dictionary</strong> <small>(CSV)</small></a>
              <a class="button small hollow expanded" href="https://carto.planninglabs.nyc/user/data/api/v2/sql?format=shp&q=SELECT a.the_geom_webmercator, a.the_geom, a.facname, a.facdomain, b.borocd FROM facdb_170522 a INNER JOIN support_admin_cdboundaries b ON ST_Contains(b.the_geom, a.the_geom) WHERE b.borocd={{model.borocd}}&filename={{model.boro}}-{{model.cd}}-facilities.shp">{{fa-icon "download"}}&nbsp;<strong>Facilities Data</strong> <small>(Shapefile)</small></a>
              <a class="button small hollow expanded" href="https://carto.planninglabs.nyc/user/data/api/v2/sql?format=SHP&q=SELECT a.the_geom_webmercator, a.the_geom, a.landuse, b.description, a.address, c.borocd FROM support_mappluto a LEFT JOIN support_landuse_lookup b ON a.landuse::integer = b.code INNER JOIN support_admin_cdboundaries c ON ST_Intersects(a.the_geom, c.the_geom) WHERE c.borocd={{model.borocd}}&filename={{model.boro}}-{{model.cd}}-pluto.shp">{{fa-icon "download"}}&nbsp;<strong>Pluto Data</strong> <small>(Shapefile)</small></a>
            </div>
          </div>
        </div>

      </section>

    </div>

    {{outlet}}

  </div>
</div>
