<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell" data-sticky-container>

      <div class="district-header">
        <h1 class="district">
          <span class="boro">{{model.properties.boro}}</span>
          Community District {{model.properties.cd}}
        </h1>
      </div>

      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-6">
            <h4 class="header-tiny"><strong>Neighborhoods</strong></h4>
            <p><small>{{model.properties.neighborhoods}}</small></p>
          </div>
          <div class="cell medium-6">
            <h4 class="header-tiny"><strong>Community Board {{model.properties.cd}}</strong></h4>
            <ul>
              <li><a href="#">website</a></li>
              <li><a href="#">email</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="section-menu">
        {{#sticky-element top=97}}
          <ul class="menu">
            <li>{{scroll-to href='#needs' label='Needs'}}</li>
            <li>{{scroll-to href='#indicators' label='Indicators'}}</li>
            <li>{{scroll-to href='#built-environment' label='Built Environment'}}</li>
            <li>{{scroll-to href='#actions' label='Actions'}}</li>
            <li>{{scroll-to href='#resources' label='Resources'}}</li>
          </ul>
        {{/sticky-element}}
      </div>

      <section id="needs" class="page-section">
        <h3>Community Needs</h3>

        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-6">

              <h4 class="header-tiny"><strong>Top 3 Pressing Issues</strong>
                <span>
                  {{fa-icon "info-circle"}}
                  {{#tooltip-on-element duration=50000 event='hover'}}
                    These are the top 3 issues identified by the community board in the latest Statement of Community District Needs.
                  {{/tooltip-on-element}}
                </span>
              </h4>
              <div class="callout">
                <ul>
                  <li>{{d.son_issue_1}}</li>
                  <li>{{d.son_issue_2}}</li>
                  <li>{{d.son_issue_3}}</li>
                </ul>
                <a class="button expanded" href="{{d.cd_son_fy2018}}" download="cd_son_fy2018.pdf">Latest Statement of Needs <small>(PDF)</small></a>
              </div>

            </div>
            <div class="cell medium-6">

              <h4 class="header-tiny"><strong>Needs Statements</strong></h4>
              <div class="callout">
                <ul>
                  <li><a href="#">Statement of Needs MM/DD/YY</a></li>
                  <li><a href="#">Statement of Needs MM/DD/YY</a></li>
                  <li><a href="#">Statement of Needs MM/DD/YY</a></li>
                  <li><a href="#">Statement of Needs MM/DD/YY</a></li>
                  <li><a href="#">Statement of Needs MM/DD/YY</a></li>
                </ul>
              </div>

            </div>
          </div>
        </div>

      </section>

      <section id="indicators" class="page-section">
        <h3>Indicators</h3>

        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-6">
              <h4 class="header-tiny"><strong>Population</strong></h4>
              <table class="small">
                <thead>
                  <tr>
                    <th class="text-center">2000
                      <sup><span>
                        {{fa-icon "info-circle"}}
                        {{#tooltip-on-element duration=50000 event='hover'}}
                          Decennial Census
                        {{/tooltip-on-element}}
                      </span></sup>
                    </th>
                    <th class="text-center">2010
                      <sup><span>
                        {{fa-icon "info-circle"}}
                        {{#tooltip-on-element duration=50000 event='hover'}}
                          Decennial Census
                        {{/tooltip-on-element}}
                      </span></sup>
                    </th>
                    <th class="text-center">2011-2015
                      <sup><span>
                        {{fa-icon "info-circle"}}
                        {{#tooltip-on-element duration=50000 event='hover'}}
                          American Community Survey 5-year Estimates
                        {{/tooltip-on-element}}
                      </span></sup>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">
                      {{numeral-format d.pop_2000 '0.0a'}}
                    </td>
                    <td class="text-center">
                      {{numeral-format d.pop_2010 '0.0a'}}
                      ({{numeral-format d.pop_change_00_10 '0%'}})
                    </td>
                    <td class="text-center">
                      {{numeral-format d.pop_11_15_acs '0.0a'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="cell medium-6">
              <h4 class="header-tiny"><strong>Land Mass</strong></h4>
              <table class="small">
                <thead>
                  <tr>
                    <th class="text-center">Square Miles</th>
                    <th class="text-center">Acres</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">
                      {{d.area_sqmi}}
                    </td>
                    <td class="text-center">
                      {{d.acres}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <h4 class="header-tiny"><strong>Community Assets</strong></h4>
        <div class="callout">
        </div>

        <h4 class="header-tiny"><strong>Poverty</strong></h4>
        <div class="callout">
        </div>

        <h4 class="header-tiny"><strong>Educational Attainment</strong></h4>
        <div class="callout">
        </div>

        <h4 class="header-tiny"><strong>Unemployment</strong></h4>
        <div class="callout">
          <div class="grid-container">
            <div class="grid-x grid-padding-x align-middle text-center">
              <div class="cell medium-6">
                <h5 class="stat-header">{{model.properties.boro}} CD {{model.properties.cd}}</h5>
                <div class="stat">{{model.properties.dataprofile.unemployment_cd}}%</div>
                <small>of the civilian labor force is unemployed</small>
              </div>
              <div class="cell medium-3">
                <h5 class="stat-header">{{model.properties.boro}}</h5>
                <div class="lead">{{d.unemployment_boro}}%</div>
              </div>
              <div class="cell medium-3">
                <h5 class="stat-header">NYC</h5>
                <div class="lead">{{d.unemployment_nyc}}%</div>
              </div>
            </div>
          </div>
        </div>

        <h4 class="header-tiny"><strong>Crime Rate</strong></h4>
        <div class="callout">
        </div>

        <h4 class="header-tiny"><strong>Mean Commute to Work</strong></h4>
        <div class="callout">
        </div>

        <h4 class="header-tiny"><strong>Rent Burden</strong></h4>
        <div class="callout">
        </div>

        <h4 class="header-tiny"><strong>Street Cleanliness</strong></h4>
        <div class="callout">
        </div>

        <h4 class="header-tiny"><strong>Access to Parks</strong></h4>
        <div class="callout">
        </div>

        <h4 class="header-tiny"><strong>[Policy Area]</strong></h4>
        <div class="callout">
        </div>

        <h4 class="header-tiny"><strong>[Policy Area]</strong></h4>
        <div class="callout">
        </div>

        <h4 class="header-tiny"><strong>[Policy Area]</strong></h4>
        <div class="callout">
        </div>

        <h4 class="header-tiny"><strong>[Policy Area]</strong></h4>
        <div class="callout">
        </div>

        <h4 class="header-tiny"><strong>[Policy Area]</strong></h4>
        <div class="callout">
        </div>

        <h4 class="header-tiny"><strong>[Policy Area]</strong></h4>
        <div class="callout">
        </div>

        <h4 class="header-tiny"><strong>[Policy Area]</strong></h4>
        <div class="callout">
        </div>

        <h4 class="header-tiny"><strong>[Policy Area]</strong></h4>
        <div class="callout">
        </div>

      </section>

      <section id="built-environment" class="page-section">
        <h3>Built Environment</h3>

        <h4 class="header-tiny"><strong>Land Use</strong></h4>
        <div class="callout">
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="cell medium-6">
                {{land-use-map}}
              </div>
              <div class="cell medium-6">
                {{land-use-chart borocd=model.properties.borocd}}
              </div>
            </div>
          </div>
        </div>

        <h4 class="header-tiny"><strong>Zoning</strong></h4>
        <div class="callout">
        </div>

        <h4 class="header-tiny"><strong>Facilities</strong></h4>
        <div class="callout">
        </div>

        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-6">

              <h4 class="header-tiny"><strong>Housing Pipeline</strong></h4>
              <div class="callout">
              </div>

            </div>
            <div class="cell medium-6">

              <h4 class="header-tiny"><strong>Capital Projects</strong></h4>
              <div class="callout">
              </div>

            </div>
          </div>
        </div>

      </section>

      <section id="actions" class="page-section">
        <h3>Actions </h3>

        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-6">

              <h4 class="header-tiny"><strong>LUCATS Applications</strong></h4>
              <div class="callout">
              </div>

            </div>
            <div class="cell medium-6">

              <h4 class="header-tiny"><strong>Neighborhood Studies</strong></h4>
              <div class="callout">
              </div>

            </div>
          </div>
        </div>

      </section>

      <section id="resources" class="page-section">
        <h3>Resources</h3>

        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-6">

              <h4 class="header-tiny"><strong>Links to Static Maps (title?)</strong></h4>
              <div class="callout">
              </div>

            </div>
            <div class="cell medium-6">

              <h4 class="header-tiny"><strong>Download the Data</strong></h4>
              <div class="callout">
              </div>

            </div>
          </div>
        </div>

      </section>

      {{outlet}}

    </div>
  </div>
</div>
